* {
    margin: 0 auto;
    padding: 0 auto;
}

.color-cordel {
    background-color: #FF9E01;
}

.half-opacity {
    opacity: .5;
}

#header-forms {
    padding: 0 5vw;
    height: 10%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 2px solid rgba(217, 115, 0, .1);
    box-sizing: border-box;
    
}

.header-forms-element {
    height: 30%;
    width: auto;
}

#content {
    position: relative;
    top: 10%;
    display: flex;
    flex-direction: column;
    vertical-align: center;
    height: 90%;
}

#content-text-forms {
    z-index: -1;
    height: clamp(8em, calc(1em + 1vw), 10em);
    width: 100%;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

div#content-text-forms h1 {
    margin: 0 10vw;
    font-family: 'Archivo';
    font-weight: 700;
    font-size: clamp(1em, calc(1em + 2vw), 2em);
    color: #F0F0F7;
}

div#content-text-forms p {
    margin: 1% 10vw 0;
    font-family: 'Poppins';
    opacity: .8;
    font-size: clamp(.5em, calc(.6em + 1vw), 1em);
    color: #F0F0F7;
}

#content-fields-forms {
    z-index: 2;
    height: calc(100% - clamp(12em, calc(1em + 1vw), 20em));
    width: 100%;
}

#background-forms {
    background-color: white;
    position: relative;
    border: 1px solid #E6E6F0;
    border-bottom-color: transparent;
    box-sizing: border-box;
    border-radius: 8px 8px 0 0;
    margin: 0 10vw;
    height: 10vh;
    z-index: 2;
}

#login-content {
    margin: auto 4vw;
}

#login-confirm {
    background-color: #FAFAFC, 100%;
    position: relative;
    border: 1px solid #E6E6F0;
    box-sizing: border-box;
    margin: 0 10vw;
    height: 10vh;
    z-index: 2;
    border-radius: 0 0 8px 8px;
    bottom: 0;
}

.item-has-focus {
    color: #FF9E01;
}

.has-focus {
    border: 1px solid #FF9E01;
    transition: border .3s;
}

ion-input:not(.has-focus){
    color: #9C98A6;
    border: 1px solid #E6E6F0;
}

ion-input {
    --highlight-color-focused: none;
}

div#login-content h1 {
    color: #24170e;
    font-family: 'Archivo';
    font-weight: 600;
    margin: 5vh 0 0;
    padding-left: 16px;
    font-size: clamp(1em, calc(1em + 1vw), 1.8em);
}

div#login-content hr {
    border: 0;
    border-top: 1px solid #000;
    opacity: .2;
    margin: 2vh 0vh;
}

.label-form {
    color: #9C98A6
}

.input-form {
    margin-top: 2vh;
    background: #FAFAFC;
    box-sizing: border-box;
    border-radius: 5px;
    --padding-start: 3%;
    --padding-end: 3%;
}
#login-content p {
    padding: 2vh 3%;  
    color: #9C98A6;
}

@media only screen and (min-width: 768px) {
    /* For tablets: */
    #background-forms {
        margin: 0 15vw;
        height: 40vh;
    }

    div#content-text-forms p {
        margin: 1% 15vw 0;
    }

    div#content-text-forms h1 {
        margin: 0 15vw;
    }

    #content-text-forms {
        height: clamp(12em, calc(1em + 15vh), 20em);
    }
}

@media only screen and (min-width: 1024px) {
    /* For desktop: */
    .header-forms-element {
        height: 70%;
    }

    #content-text-forms {
        height: clamp(12em, calc(1em + 15vh), 20em);
    }
        
    div#content-text-forms p {
        margin: 1% 25vw 0;
    }

    div#content-text-forms h1 {
        margin: 0 25vw;
    }

    #background-forms {
        margin: 0 25vw;
        height: 40vh;
        padding-bottom: 46vh;
    }

    #login-confirm {
        margin: 0 25vw;
        height: 10vh;
    }
}