<ion-content [fullscreen]="true" style="--background: #F0F0F7; position: relative;">
  <div id="header-forms" class="ion-no-border" style="background-color: #f39600;display: flex; justify-content: center; align-items: center;">
    <img onclick="history.back()" src="../../assets/auth/back-arrow.svg" class="header-forms-element" style="cursor: pointer;">
    <p class="header-forms-element half-opacity" style="  display: flex; align-items: center;">Autenticação</p>
    <img src="../../assets/logo.png" class="header-forms-element">
  </div>
  <div id="content-text-forms" class="color-cordel">
    <h1>
      Entre em sua conta <br> e acesse a plataforma
    </h1>
    <p>Ou crie uma conta.</p>
  </div>
  <div id="content-fields-forms">
    <div id="background-forms">
      
    </div>
  </div>
</ion-content>