* {
    margin: 0 auto;
    padding: 0 auto;
}

.color-cordel {
    background-color: #FF9E01;
}

.half-opacity {
    opacity: .5;
}

#header-forms {
    height: 10%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 2px solid rgba(217, 115, 0, .1);
    box-sizing: border-box;
}

.header-forms-element {
    width: auto;
    height: 40%;
}

#content-text-forms {
    position: absolute;
    z-index: -1;
    height: 50%;
    width: 100%;
    top: 0%;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
}

#content-fields-forms {
    position: absolute;
    z-index: 2;
    top: 45%;
    height: 120%;
    width: auto;
    display: flex;
    left: 25%;
    right: 25%;
}

#background-forms {
    background-color: white;
    position: relative;
    border: 1px solid #E6E6F0;
    box-sizing: border-box;
    border-radius: 1%;
    top: 0;
    width: 100%;
    height: 90%;
    z-index: 2;
}