.banners div.bgbanner {
    background-repeat: no-repeat;
    background-size: 100%;
    height: 23.6vw;
    width: 43.6vw;
    min-width: 555px;
    min-height: 300px;
    // margin-left: 40px;
    position: absolute;
    left: 40px;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.firstCont {
    background-color: #FF9E02;
    width: 100vw;
    min-height: 57.5vw;
    height: auto;
    overflow: auto;
    position: relative;
    z-index: 1;
}

ion-slides {
    --bullet-background: #686868;
    --bullet-background-active: #572c41 !important;
}

.firstSlides ion-slides {
    min-height: 320px;
    height: 23.5vw;
}
.firstSlides ion-slide {
    width: 90vw;
    height: 20vw;
    text-align: center;
}
 