<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar style="--background: #FF9E01; height: 80px;">
      <img src="../../assets/logo.png" class="logo">
      <ul style="float: right; margin-right: 6%;">
          <li><a href="#">Sobre a Cordel</a></li>
          <li><a href="#">Produtos</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Fale conosco</a></li>
          <li><a href="auth" class="roundedLink" style="margin-left: 16px;">Área do aluno</a></li>
      </ul>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="--background: white;">
  <div class="banners" style="background-image: url('../../assets/Backgrounds/banner\ hackids.png');">
    <div>
        <p style="color: white; font-size: 36px; margin-bottom: 5%"><strong>HacKids</strong></p>
        <p style="color: white; margin-bottom: 3%; font-size: 18px;">Aprenda a desenvolver o raciocínio lógico e conceitos de programação com o <strong>HacKids.</strong></p>
    </div>
  </div>
  <div class="firstCont">
    <div style="width: 50%; float: left; padding: 120px 30px 120px 100px;">
        <p style="font-size: 26px; color: white; font-weight: 600;">O curso aborda metodologias do pensamento lógico e computacional com aulas teóricas e práticas, que vão desde o básico ao avançado do ensino de programação, em uma linguagem acessível, além de apresentar exemplos reais do dia a dia para uma melhor compreensão.</p>
        <br><br><br>
        <p style="font-size: 26px; color: white; font-weight: 600;">Aprendendo por meio do Tangential Learning, a criança colocará em prática o contéudo aprendido com o auxílio de ferramentas de programação em bloco, pseudocódigo, e outras de codificação visual.</p>
    </div>
    <div style="width: 50%; float: left;">
        <img src="./../assets/firstCourseDetails.png" style="position: absolute; right: 0; width: 45%; z-index: 0; overflow: hidden;">
        <ul style="z-index: 5; position: relative; padding: 8.5vw 100px;">
            <li style="clear: left; display: block; width: 35vw;">
                <img src="./../assets/icon/ico1.png" style="width: 5vw; float: left; margin-right: 30px;">
                <p style="font-weight: 700; color: white; margin-top: 2%;">Certificado de conclusão digital;</p>
            </li>
            <li style="clear: left; margin-top: 35px; display: block; width: 35vw;">
                <img src="./../assets/icon/ico2.png" style="width: 5vw; float: left; margin-right: 30px;">
                <p style="font-weight: 700; color: white; margin-top: 10%;">Pagamentos seguros;</p>
            </li>
            <li style="clear: left; margin-top: 35px; display: block; width: 35vw;">
                <img src="./../assets/icon/ico3.png" style="width: 5vw; float: left; margin-right: 30px;">
                <p style="font-weight: 700; color: white; margin-top: 5%;">Suporte da Cordel For Education;</p>
            </li>
            <li style="clear: left; margin-top: 35px; display: block; width: 35vw;">
                <img src="./../assets/icon/ico4.png" style="width: 5vw; float: left; margin-right: 30px;">
                <p style="font-weight: 700; color: white; margin-top: 5%;">Acesso de todos os dispositivos;</p>
            </li>
        </ul>
    </div>
  </div>
  <div class="banners" style="background-image: url('../../assets/Backgrounds/HacKidsBG.png');"></div>
  <div class="footer">
    <img src="../../assets/logo.png" class="logo" style="margin-top: 70.5px">
    <ul style="float: right; margin-right: 52px; margin-top: 77.5px">
        <li style="margin-right: 46px"><img src="./../assets/icon/Instagram.png"></li>
        <li style="margin-right: 46px"><img src="./../assets/icon/Whatsapp.png"></li>
        <li style="margin-right: 46px"><img src="./../assets/icon/Facebook.png"></li>
    </ul>
  </div>
</ion-content>
