<!-- <ion-header class="ion-no-border {{currentHeaderClass}}" [translucent]="true" style="position: absolute">
    <ion-toolbar>
        <img src="../../assets/logo.png" class="logo">
        <ul style="float: right;">
            <li><a href="home">Início</a></li>
            <li><a href="#">A Cordel</a></li>
            <li><a href="#">Soluções</a></li>
            <li>
                <div style="width: 1px; height: 40px; background-color: #FFFFFF; margin: 0 1.5vw;"></div>
            </li>
            <li><a href="auth" class="roundedLink" style="margin-left: 16px;">Fale Conosco</a></li>
        </ul>
    </ion-toolbar>
</ion-header> -->

<ion-content>
    <!-- <div style="display: flex; align-items: center; flex-direction: column; width: 100%; padding: 3vw 0 9vw 0;">
        <img style="width: 116px;" src="../../assets/icon/logoAsIcon.png">
        <div style="width: 65.7vw; height: 38vw; background-color: teal; margin-top: 8vw;">
        </div>
    </div> -->
    <div class="degradeSmallCont">
        <p>Aprenda a planejar<br>e criar aulas mais<br>dinâmicas e engajadoras!</p>
    </div>
    <div class="ofertaCont">
        <div>
            <p>OFERTA POR TEMPO LIMITADO!</p>
            <p style="margin-top: 0.6%;">{{daysLeftText}}</p>
        </div>
        <div class="offerTitle">
            <div>
                <p>Guia Professor<br>do ̶F̶u̶t̶u̶r̶o̶ Presente</p>
                <div>
                    <p>Três trilhas inéditos</p>
                </div>
            </div>
            <img src="../../assets/MockupCursos.png">
            <div style="clear: left"></div>
        </div>
        <div class="ofertaElements">
            <ul>
                <li>
                    <img src="../../assets/icon/ico2.png">
                    <div>
                        <p>Pagamentos seguros</p>
                    </div>
                </li>
                <li>
                    <img src="../../assets/icon/ico1.png">
                    <div>
                        <p>Certificado de conclusão digital</p>
                    </div>
                </li>
                <li>
                    <img src="../../assets/icon/ico3.png">
                    <div>
                        <p>Suporte da Cordel For Education</p>
                    </div>
                </li>
                <hr>
                <li>
                    <img src="../../assets/icon/ico4.png">
                    <div>
                        <p>Acesso de todos os dispositivos</p>
                    </div>
                </li>
                <li>
                    <img src="../../assets/icon/ico5.png">
                    <div>
                        <p>Demonstração de cases reais</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="ofertaDetails">
            <span>As TRÊS trilhas separados saem por: R$599,99</span>
            <h1>Esta oferta lhe garante todas as três trilhas por apenas: R$<strong>143,64</strong></h1>
            <p>ou em 12x de R$11,97</p>
            <button>Comprar agora</button>
        </div>
    </div>
    <div style="margin: max(8.2vw, 70px) 0 40px 0;">
        <div class="titulo">
            <p>
                <Strong>Nossas Soluções</Strong>
            </p>
            <div></div>
        </div>
    </div>
    <ion-slides class="BannersSlider" pager="true" [options]="BannerSliderOptions">
        <ion-slide id="banner1" class="banners">
            <div class="bannerCard">
                <div class="bannerTexts">
                    <div class="titulo">
                        <p>
                            <Strong>O que você encontrará na trilha:</Strong>
                        </p>
                        <div></div>
                    </div>
                    <p>Em “Professor Atualizado”, as barreiras da mentalidade e uma cultura antiga serão desconstruídas para que uma aprendizagem efetiva e ferramentas possibilitem um aprendizado apoiado no ‘learning by doing’.</p>
                    <button><a href="se-liga">Saiba mais</a></button>
                </div>
            </div>
        </ion-slide>
        <ion-slide id="banner2" class="banners">
            <div class="bannerCard">
                <div class="bannerTexts">
                    <div class="titulo">
                        <p>
                            <Strong>O que você encontrará na trilha:</Strong>
                        </p>
                        <div></div>
                    </div>
                    <p>A trilha “Professor Midiático” abordará ferramentas que estão no dia a dia dos estudantes e que os professores podem incrementar em seu planejamento, para tornar o processo de ensino-aprendizagem mais divertido.</p>
                    <button><a href="informado">Saiba mais</a></button>
                </div>
            </div>
        </ion-slide>
        <ion-slide id="banner3" class="banners">
            <div class="bannerCard">
                <div class="bannerTexts">
                    <div class="titulo">
                        <p>
                            <Strong>O que você encontrará na trilha:</Strong>
                        </p>
                        <div></div>
                    </div>
                    <p>Em “Level Up! Professor Gamificado” o educador poderá se capacitar e aprender mais sobre gamificação como metodologia ativa para sala de aula.</p>
                    <button><a href="level-up">Saiba mais</a></button>
                </div>
            </div>
        </ion-slide>
    </ion-slides>
    <div class="commonCont">
        <h1>54% dos professores não sabem como usar computador e internet em atividades com os alunos</h1>
        <p>- De acordo com a pesquisa TIC Educação 2016, do Centro Regional de Estudos para o Desenvolvimento da Sociedade da Informação</p>
    </div>
    <div class="degradeCommonCont">
        <h1>Para quem se destina o<br>O Guia Professor<br>do ̶F̶u̶t̶u̶r̶o̶ Presente?</h1>
        <p>A Cordel criou três trilhas formativas para que você, educador, quebre os paradigmas das aulas tradicionais e se torne o professor do presente, alinhado às competências do século 21.</p><br><br>
        <p>Ofertamos um pacote que engloba todos as trilhas - <strong>Se Liga!, Informado! e Level Up!</strong> - onde serão abordadas ferramentas e práticas, para te ajudar desde a conceituação teórica até o passo a passo da aplicação na sala de aula.</p><br><br>
        <p>O nosso objetivo é proporcionar um ganho profissional com recursos tecnológicos, interação e integração dos alunos, além de ajudar a mantê-los engajados nos cenários de ensino híbrido, remoto e presencial.</p>
    </div>
    <div id="notSoCommon" class="commonCont">
        <h2>Como estruturamos os conteúdos das trilhas para que você se torne um <span>Professor do Presente:</span></h2>
    </div>
    <div class="cursoCont">
        <div style="margin-top: 0;">
            <p>Se liga! #Professor Atualizado</p>
        </div>
        <div>
            <div class="cursoCards">
                <ion-card>
                    <div></div>
                    <p>Introdução</p>
                    <span>O que veremos na trilha?</span>
                </ion-card>
                <ion-card>
                    <div></div>
                    <p>Módulo 1</p>
                    <span>Quebrando barreiras de mentalidade antiga</span>
                </ion-card>
                <ion-card style="clear: left;">
                    <div></div>
                    <p>Módulo 2</p>
                    <span>Aprendizagem Efetiva</span>
                </ion-card>
                <ion-card>
                    <div></div>
                    <p>Módulo 3</p>
                    <span>Design Thiking na educação?<br>Como assim?</span>
                </ion-card>
                <ion-card style="clear: left; margin-bottom: 0;">
                    <div></div>
                    <p>Módulo 4</p>
                    <span>Gerenciando e planejando as aulas!</span>
                </ion-card>
            </div>
            <div class="buyCourse">
                <ion-card>
                    <img src="../../assets/icon/SeLigaIcon.png">
                    <ion-card-content>
                        <h1>Detalhes da trilha:</h1>
                        <div style="margin-top: 25px;">
                            <img src="../../assets/icon/clockIcon.png">
                            <p>6 horas de trilha</p>
                        </div>
                        <div>
                            <img src="../../assets/icon/fileIcon.png">
                            <p>3 Materiais de apoio</p>
                        </div>
                        <div>
                            <img src="../../assets/icon/multiplatIcon.png">
                            <p>Acesso multiplataforma</p>
                        </div>
                        <h3>Se liga!<br>#ProfessorAtualizado</h3>
                        <h2>R$59,90</h2>
                        <button>Comprar</button>
                    </ion-card-content>
                </ion-card>
            </div>
            <div style="clear: left;"></div>
        </div>
    </div>
    <div class="degradeCommonCont">
        <h1>Para quem se destina o<br>Se Liga! #Professor Atualizado?</h1>
        <p><strong>O Se Liga! Professor Atualizado</strong> é destinado para educadores que já possuem - ou não - experiência em ferramentas digitais para a sala de aula, metodologias e conceitos importantes para a geração conectada. Ele vai ajudar você
            a potencializar o processo e objetivos de aprendizagem baseada em metodologias e casos reais.</p><br><br>
        <p>Assim, pode te ajudar a se atualizar e estar por dentro das tendências da sala de aula no novo normal. Pode ajudar também você educador que quer ter um diferencial em sua carreira profissional, deixando-o mais equipado.</p>
    </div>
    <div class="cursoCont">
        <div>
            <p>Informado! #Professor Midiático</p>
        </div>
        <div>
            <div class="cursoCards">
                <ion-card>
                    <div></div>
                    <p>Introdução</p>
                    <span>O que veremos na trilha?</span>
                </ion-card>
                <ion-card>
                    <div></div>
                    <p>Módulo 1</p>
                    <span>Cultura digital</span>
                </ion-card>
                <ion-card style="clear: left;">
                    <div></div>
                    <p>Módulo 2</p>
                    <span>A tal da Fake News é real?</span>
                </ion-card>
                <ion-card>
                    <div></div>
                    <p>Módulo 3</p>
                    <span>Aula divertida com mídia!</span>
                </ion-card>
                <ion-card style="clear: left; margin-bottom: 0;">
                    <div></div>
                    <p>Módulo 4</p>
                    <span>Google Apps, para quê?</span>
                </ion-card>
                <ion-card style="margin-bottom: 0;">
                    <div></div>
                    <p>Módulo 5</p>
                    <span>Excel avançado</span>
                </ion-card>
            </div>
            <div class="buyCourse">
                <ion-card>
                    <img src="../../assets/icon/InformadoIcon.png">
                    <ion-card-content>
                        <h1>Detalhes da trilha:</h1>
                        <div style="margin-top: 25px;">
                            <img src="../../assets/icon/clockIcon.png">
                            <p>7 horas de trilha</p>
                        </div>
                        <div>
                            <img src="../../assets/icon/fileIcon.png">
                            <p>X Materiais de apoio</p>
                        </div>
                        <div>
                            <img src="../../assets/icon/multiplatIcon.png">
                            <p>Acesso multiplataforma</p>
                        </div>
                        <h3>Informado!<br>#Professor Midiático</h3>
                        <h2>R$59,90</h2>
                        <button>Comprar</button>
                    </ion-card-content>
                </ion-card>
            </div>
            <div style="clear: left;"></div>
        </div>
    </div>
    <div class="degradeCommonCont">
        <h1>Para quem se destina o<br>O Informado! #Professor Midiático?</h1>
        <p><strong>O Informado! Professor Midiático</strong> é destinado para educadores que já possuem - ou não - experiência em ferramentas midiáticas para a sala de aula. Ele vai levar você educador a se aprofundar em Metodologias Ativas e Imersivas bem
            como aplicá-las, sob estratégias de aprendizagem, a fim de engajar seus alunos com elas.</p><br><br>
        <p>Então, pode ajudar você que ainda sente que sua linguagem e a dos estudantes estão desconexas e distantes. Pode ajudar também o educador que quer e deseja conhecer novas abordagens e aplicações para os estudantes nas aulas remotas, híbridas ou
            presenciais ou até mesmo os que já são professores inovadores e gostariam de ter novas visões sobre Cultura Digital. Aos que desejam estar antenados com a nova BNCC, o Informado! Professor Midiático vai te ajudar a conseguir isso.</p>
    </div>
    <div class="cursoCont">
        <div>
            <p>Level Up! #Professor Gamificado</p>
        </div>
        <div>
            <div class="cursoCards">
                <ion-card>
                    <div></div>
                    <p>Introdução</p>
                    <span>O que veremos na trilha?</span>
                </ion-card>
                <ion-card>
                    <div></div>
                    <p>Módulo 1</p>
                    <span>Descomplicando a Gamificação</span>
                </ion-card>
                <ion-card style="clear: left;">
                    <div></div>
                    <p>Módulo 2</p>
                    <span>Ferramentas e recursos</span>
                </ion-card>
                <ion-card>
                    <div></div>
                    <p>Módulo 3</p>
                    <span>Cases Reais e Exemplos</span>
                </ion-card>
                <ion-card style="clear: left; margin-bottom: 0;">
                    <div></div>
                    <p>Módulo 4</p>
                    <span>Construindo soluções</span>
                </ion-card>
            </div>
            <div class="buyCourse">
                <ion-card>
                    <img src="../../assets/icon/LevelUpIcon.png">
                    <ion-card-content>
                        <h1>Detalhes da trilha:</h1>
                        <div style="margin-top: 25px;">
                            <img src="../../assets/icon/clockIcon.png">
                            <p>9 horas de trilha</p>
                        </div>
                        <div>
                            <img src="../../assets/icon/fileIcon.png">
                            <p>X Materiais de apoio</p>
                        </div>
                        <div>
                            <img src="../../assets/icon/multiplatIcon.png">
                            <p>Acesso multiplataforma</p>
                        </div>
                        <h3>Level Up!<br>#ProfessorGamificado</h3>
                        <h2>R$59,90</h2>
                        <button>Comprar</button>
                    </ion-card-content>
                </ion-card>
            </div>
            <div style="clear: left;"></div>
        </div>
    </div>
    <div class="degradeCommonCont">
        <h1>Para quem se destina o<br>Level Up! #Professor Gamificado?</h1>
        <p><strong>O Level Up! #Professor Gamificado</strong> é destinado a educadores que desejam dar um start e criar experiências inovadoras para a nova sala de aula, mesmo que não possuam experiência em ferramentas lúdicas. Contudo, querem aplicar dinâmicas
            e modernizar o ambiente de aprendizagem através da gamificação.</p><br><br>
        <p>Dessa forma, pode ajudar você que quer que seu aluno do outro lado da tela assista às aulas com a mesma motivação que a atual geração tem para concluir missões no seu game preferido. Já pensou se ele apresentar o mesmo engajamento? Pode ajudar
            também você professor transformador que já iniciou sua jornada com gamificação e games no ambiente de aprendizagem.</p>
    </div>
    <div class="commonCont">
        <h1>“Não há alunos com dificuldades de aprendizagem; há professores com dificuldades de ensinagem”</h1>
        <p>- José Pacheco</p>
    </div>
    <div class="ofertaCont" style="margin-bottom: 110px;">
        <div>
            <p>OFERTA POR TEMPO LIMITADO!</p>
            <p style="margin-top: 0.6%;">{{daysLeftText}}</p>
        </div>
        <div class="offerTitle">
            <div>
                <p>Guia Professor<br>do ̶F̶u̶t̶u̶r̶o̶ Presente</p>
                <div>
                    <p>Três trilhas inéditos</p>
                </div>
            </div>
            <img src="../../assets/MockupCursos.png">
            <div style="clear: left"></div>
        </div>
        <div class="ofertaElements">
            <ul>
                <li>
                    <img src="../../assets/icon/ico2.png">
                    <div>
                        <p>Pagamentos seguros</p>
                    </div>
                </li>
                <li>
                    <img src="../../assets/icon/ico1.png">
                    <div>
                        <p>Certificado de conclusão digital</p>
                    </div>
                </li>
                <li>
                    <img src="../../assets/icon/ico3.png">
                    <div>
                        <p>Suporte da Cordel For Education</p>
                    </div>
                </li>
                <hr>
                <li>
                    <img src="../../assets/icon/ico4.png">
                    <div>
                        <p>Acesso de todos os dispositivos</p>
                    </div>
                </li>
                <li>
                    <img src="../../assets/icon/ico5.png">
                    <div>
                        <p>Demonstração de cases reais</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="ofertaDetails">
            <span>As TRÊS trilhas separados saem por: R$599,99</span>
            <h1>Esta oferta lhe garante todos as três trilhas por apenas: R$<strong>428,99</strong></h1>
            <p>ou em 64x de R$37,93</p>
            <button>Comprar agora</button>
        </div>
    </div>
    <div class="vendasFooter">
        <div>
            <img src="../../assets/cordel.png">
            <p>Educação e<br>tecnologia<br>lado a lado.</p>
        </div>
        <p>contato@somoscordel.com.br</p>
        <div>
            <img src="../../assets/icon/InstaTransparent.png">
            <img src="../../assets/icon/WhatsTransparent.png">
            <img src="../../assets/icon/FaceTransparent.png">
        </div>
        <div>
            <p>Termos de uso</p>
            <div></div>
            <p>Política de privacidade</p>
        </div>
    </div>
</ion-content>