.cursoCont {
    > :first-child {
        margin-top: 8.2vw;
        padding: 20px 14.5%;
        background-color: #1B1B1B;
        p {
            font-size: max(1.5vw, 16px);
            font-weight: 700;
            color: #FFFFFF;
        }
        +div {
            padding: 32px 14.5%;
        }
        @media (max-width: 500px) {
            margin-top: 15.5vw;
            padding: 5.8% 7.5%;
            +div {
                padding: 3.75% 7.5%;
            }
        }
    }
}

.vendasFooter {
    background-image: url('../../assets/Backgrounds/FooterBackground.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #b45557;
    width: 100%;
    height: 32vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    div {
        margin: 0 auto 0 auto;
    }
    >div:first-child {
        display: flex;
        align-items: center;
        width: 440px;
        img {
            margin-right: 32px;
        }
        p {
            color: #FFFFFF;
            font-size: 36px;
            font-weight: 200;
            line-height: 40px;
        }
    }
    >p:nth-child(2) {
        width: 194px;
        margin: 3.3% auto 1.1% auto;
        font-size: 14px;
        font-weight: 600;
        line-height: 24px;
        color: #FFFFFF;
    }
    >div:nth-child(3) {
        width: 152px;
        display: flex;
        justify-content: space-between;
        img {
            width: 24.78px;
            height: 24.78px;
        }
    }
    >div:nth-child(4) {
        margin-top: 3.2%;
        display: flex;
        justify-content: space-between;
        p {
            font-size: 16px;
            font-weight: 700;
            line-height: 16px;
            color: #FFFFFF;
        }
        div {
            margin: 0 16px;
            width: 1px;
            height: 16px;
            background-color: #FFFFFF;
        }
    }
    @media (max-width: 500px) {
        background-image: url('/../../assets/Backgrounds/FooterBackgroundMobile.png');
        background-repeat: no-repeat;
        background-size: contain;
        height: 74.88vw;
        >div:first-child {
            width: 100%;
            justify-content: center;
            img {
                width: 38vw;
            }
            p {
                font-size: 5.8vw;
                line-height: 5.8vw;
            }
        }
        >p:nth-child(2) {
            margin: 32px auto 16px auto;
        }
        >div:nth-child(4) {
            margin-top: 30px;
        }
    }
}

#notSoCommon {
    h2 {
        margin-bottom: 0;
    }
    @media (max-width: 500px) {
        margin: 0;
        padding: 28px 7.7vw;
    }
}