.BannersSlider {
    ion-slide {
        align-items: center;
        justify-content: start;
    }
    ion-slide .bannerCard {
        background-image: url('../../assets/Panels/BannerPanel.png');
        background-repeat: no-repeat;
        background-size: contain;
        margin-left: 13%;
        width: 44.5%;
        height: 62.5%;
        .bannerTexts {
            position: relative;
            text-align: left;
            width: 72%;
            height: 72%;
            margin: 10% 14%;
            .titulo {
                text-align: left;
                width: 100%;
                div {
                    margin: 0;
                }
                p {
                    font-size: clamp(16px, calc(9px + 1vw), 24px);
                }
            }
            button {
                position: absolute;
                bottom: 1vw;
                right: 0;
                background-color: #6509B3;
                border-radius: 40px;
                border: 3px solid #6509B3;
                color: #FFFFFF;
                width: 40%;
                height: 15%;
                font-size: 16px;
                font-weight: 700;
                margin: auto;
                margin-top: 10px;
            }
        }
    }
}