.BannersSlider {
    ion-slide {
        align-items: center;
        justify-content: start;
    }
    ion-slide .bannerCard {
        background-image: url('../../assets/Panels/BannerPanel.png');
        background-repeat: no-repeat;
        background-size: contain;
        margin-left: 13%;
        width: 44.5%;
        height: 62.5%;
        .bannerTexts {
            position: relative;
            text-align: left;
            width: 72%;
            height: 72%;
            margin: 10% 14%;
            .titulo {
                text-align: left;
                width: 100%;
                div {
                    margin: 0;
                }
                p {
                    font-size: clamp(16px, calc(9px + 1vw), 24px);
                }
            }
            button {
                position: absolute;
                bottom: 1vw;
                right: 0;
                background-color: #6509B3;
                border-radius: 40px;
                border: 3px solid #6509B3;
                color: #FFFFFF;
                width: 40%;
                height: 15%;
                font-size: 16px;
                font-weight: 700;
                margin: auto;
                margin-top: 10px;
            }
        }
    }
}

.cursoCont {
    margin-bottom: 8px;
    > :first-child {
        padding: 20px 14.5%;
        background-color: #1B1B1B;
        p {
            font-size: 20px;
            font-weight: 700;
            color: #FFFFFF;
        }
    }
    .cursoCards {
        width: calc(44vw + 32px);
        float: left;
        ion-card {
            box-shadow: 0px 4px 5px rgba(155, 155, 155, 0.14), 0px 1px 10px rgba(155, 155, 155, 0.12), 0px 2px 4px rgba(155, 155, 155, 0.2);
            margin: 0 16px 32px 0;
            width: 22vw;
            background-color: white;
            padding-top: 20px;
            border-radius: 10px;
            height: 14.5vw;
            float: left;
            div {
                float: left;
                height: 16px;
                width: 5px;
                background-color: #FF9E01;
            }
            p {
                margin-left: 11px;
                float: left;
                color: #6509B3;
                font-size: 16px;
                font-weight: 700;
                line-height: 16px;
            }
            span {
                display: block;
                padding: 0 16px;
                margin-top: 10%;
                clear: left;
                font-size: 1.7vw;
                font-weight: 700;
                line-height: 1.7vw;
            }
        }
    }
    .buyCourse {
        width: 22vw;
        float: right;
        ion-card {
            margin: 0;
            box-shadow: 0px 4px 5px rgba(155, 155, 155, 0.14), 0px 1px 10px rgba(155, 155, 155, 0.12), 0px 2px 4px rgba(155, 155, 155, 0.2);
            border-radius: 10px;
            background-color: white;
            ion-card-content {
                padding: 1.2vw 2.5vw;
                div {
                    margin-top: 15px;
                    height: 8%;
                    img {
                        width: 8%;
                        float: left;
                        margin-right: 6%;
                    }
                    p {
                        color: #A8A8A8;
                        font-size: 1.2vw;
                        font-weight: 700;
                        line-height: 1.2vw;
                    }
                }
                h2 {
                    margin-top: 8px;
                    text-align: center;
                    color: #FF9E01;
                    font-size: calc(8px + 1.5vw);
                    font-weight: 700;
                }
                button {
                    margin-left: 2.2vw;
                    margin-top: 1.5vw;
                    margin-bottom: 3.5vw;
                    color: white;
                    background-color: #FF9E01;
                    border-radius: 40px;
                    width: 12.5vw;
                    height: 3vw;
                }
            }
            h1 {
                font-size: 1.4vw;
                font-weight: 700;
                line-height: 1.4vw;
            }
        }
    }
}

.vendasFooter {
    background-image: url('../../assets/Backgrounds/FooterBackground.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 32.3vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    div {
        margin: 0 auto 0 auto;
    }
    >div:first-child {
        display: flex;
        align-items: center;
        width: 440px;
        img {
            margin-right: 32px;
        }
        p {
            color: #FFFFFF;
            font-size: 36px;
            font-weight: 200;
            line-height: 40px;
        }
    }
    >p:nth-child(2) {
        width: 194px;
        margin: 3.3% auto 1.1% auto;
        font-size: 14px;
        font-weight: 600;
        line-height: 24px;
        color: #FFFFFF;
    }
    >div:nth-child(3) {
        width: 152px;
        display: flex;
        justify-content: space-between;
        img {
            width: 24.78px;
            height: 24.78px;
        }
    }
    >div:nth-child(4) {
        margin-top: 3.2%;
        display: flex;
        justify-content: space-between;
        p {
            font-size: 16px;
            font-weight: 700;
            line-height: 16px;
            color: #FFFFFF;
        }
        div {
            margin: 0 16px;
            width: 1px;
            height: 16px;
            background-color: #FFFFFF;
        }
    }
}