<!-- <ion-header class="ion-no-border {{currentHeaderClass}}" [translucent]="true" style="position: absolute">
    <ion-toolbar>
        <img src="../../assets/logo.png" class="logo">
        <ul style="float: right;">
            <li><a href="#">Início</a></li>
            <li><a href="#">A Cordel</a></li>
            <li><a href="#">Soluções</a></li>
            <li>
                <div style="width: 1px; height: 40px; background-color: #FFFFFF; margin: 0 1.5vw;"></div>
            </li>
            <li><a href="auth" class="roundedLink" style="margin-left: 16px;">Área do aluno</a></li>
        </ul>
    </ion-toolbar>
</ion-header> -->

<ion-content>
    <div style="width: 100%; height: 296px; background: linear-gradient(84.49deg, #FF9E01 2.66%, #6509B3 93.48%); filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));">
        <p style="font-size: 56px; font-weight: 700; line-height: 56px; color: #FFFFFF; padding: 64px 0 64px 14.5%;">
            Aprenda a planejar<br>e criar aulas mais<br>dinâmicas e engajadoras!</p>
    </div>
    <div class="ofertaCont">
        <div>
            <p>OFERTA POR TEMPO LIMITADO!</p>
            <p style="margin-top: 8px;">Restam: 27 dias</p>
        </div>
        <div style="width: 71%; margin: auto; margin-top: 10px;">
            <p style="width: 50%; float: left; font-size: 3.7vw; font-weight: 700; margin-top: 30px;">Pacote Professor do ̶F̶u̶t̶u̶r̶o̶ Presente</p>
            <img src="../../assets/MockupCursos.png" style="width: 50%; float: left; clear: right;">
            <div style="clear: left"></div>
        </div>
        <div class="ofertaElements">
            <ul>
                <li>
                    <img src="../../assets/icon/ico1.png">
                    <p>Pagamentos seguros</p>
                </li>
                <li>
                    <img src="../../assets/icon/ico2.png">
                    <p>Pagamentos seguros</p>
                </li>
                <li>
                    <img src="../../assets/icon/ico3.png">
                    <p>Pagamentos seguros</p>
                </li>
                <hr>
                <li>
                    <img src="../../assets/icon/ico4.png">
                    <p>Pagamentos seguros</p>
                </li>
                <li style="margin-top: 60px;">
                    <img src="../../assets/icon/ico5.png">
                    <p>Pagamentos seguros</p>
                </li>
            </ul>
        </div>
        <div class="ofertaDetails">
            <span>Os TRÊS cursos separados saem por: R$599,99</span>
            <h1>Esta oferta lhe garante todos os três cursos por apenas: R$<strong>428,99</strong></h1>
            <p>ou em 64x de R$37,93</p>
            <button>Comprar agora</button>
        </div>
    </div>
    <div style="margin: 100px 0 40px 0;">
        <div class="titulo">
            <p>
                <Strong>Nossos cursos</Strong>
            </p>
            <div></div>
        </div>
    </div>
    <ion-slides class="BannersSlider" pager="true" [options]="BannerSliderOptions">
        <ion-slide class="banners" style="background-image: url('../../assets/Backgrounds/SeLiga.png');">
            <div class="bannerCard">
                <div class="bannerTexts">
                    <div class="titulo">
                        <p>
                            <Strong>O que você encontrará no curso:</Strong>
                        </p>
                        <div></div>
                    </div>
                    <p style="font-size: clamp(10px, calc(3px + 1vw), 16px); margin-top: 7%; line-height: 1.7vw;">Em “Professor Atualizado”, as barreiras da mentalidade e uma cultura antiga serão desconstruídas para que uma aprendizagem efetiva e ferramentas possibilitem um aprendizado apoiado no ‘learning by doing’.</p>
                    <button>Saiba mais</button>
                </div>
            </div>
        </ion-slide>
        <ion-slide class="banners" style="background-image: url('../../assets/Backgrounds/Informado.png');">
            <div class="bannerCard">
                <div class="bannerTexts">
                    <div class="titulo">
                        <p>
                            <Strong>O que você encontrará no curso:</Strong>
                        </p>
                        <div></div>
                    </div>
                    <p style="font-size: clamp(10px, calc(3px + 1vw), 16px); margin-top: 7%; line-height: 1.7vw;">O curso “Professor Midiático” abordará ferramentas que estão no dia a dia dos estudantes e que os professores podem incrementar em seu planejamento, para tornar o processo de ensino-aprendizagem mais divertido.</p>
                    <button>Saiba mais</button>
                </div>
            </div>
        </ion-slide>
        <ion-slide class="banners" style="background-image: url('../../assets/Backgrounds/LevelUp.png');">
            <div class="bannerCard">
                <div class="bannerTexts">
                    <div class="titulo">
                        <p>
                            <Strong>O que você encontrará no curso:</Strong>
                        </p>
                        <div></div>
                    </div>
                    <p style="font-size: clamp(10px, calc(3px + 1vw), 16px); margin-top: 7%; line-height: 1.7vw;">Em “Level Up! Professor Gamificado” o educador poderá se capacitar e aprender mais sobre gamificação como metodologia ativa para sala de aula.</p>
                    <button>Saiba mais</button>
                </div>
            </div>
        </ion-slide>
    </ion-slides>
    <div class="commonCont" style="padding-bottom: 28px;">
        <h1>54% dos professores não sabem como usar computador e internet em atividades com os alunos</h1>
        <p>- De acordo com a pesquisa TIC Educação 2016, do Centro Regional de Estudos<br>para o Desenvolvimento da Sociedade da Informação</p>
    </div>
    <div class="secondCont">
        <h1>Para quem se destina o<br>O pacote Pacote Professor<br>do ̶F̶u̶t̶u̶r̶o̶ Presente?</h1>
        <p>A Cordel criou três cursos para que você, educador, quebre os paradigmas das aulas tradicionais e se torne o professor do presente, alinhado às competências do século 21.</p><br><br>
        <p>Ofertamos um pacote que engloba todos os cursos - <strong>Se Liga!, Informado! e Level Up!</strong> - onde serão abordadas ferramentas e práticas, para te ajudar desde a conceituação teórica até o passo a passo da aplicação na sala de aula.</p><br><br>
        <p>O nosso objetivo é proporcionar um ganho profissional com recursos tecnológicos, interação e integração dos alunos, além de ajudar a mantê-los engajados nos cenários de ensino híbrido, remoto e presencial.</p>
    </div>
    <div class="commonCont">
        <h2>Como estruturamos os<br>conteúdos dos cursos para que<br>você se torne um<br><span>Professor do Presente:</span></h2>
    </div>
    <div class="footer">
        <div>
            <h1>Sobre a Cordel</h1>
            <p>Depoimentos</p>
            <p>Aparições</p>
            <p>Blog</p>
            <p>Política de Privacidade </p>
            <p>Termos de Uso</p>
        </div>
        <div>
            <h1>Serviços</h1>
            <p>Nossos Cursos</p>
            <p>Se Liga! #ProfessorAtualizado</p>
            <p>Informado! #ProfessorMidiático</p>
            <p>LevelUp! #ProfessorGamificado</p>
        </div>
        <div>
            <h1>Contato:</h1>
            <span>
          <img src="../../assets/icon/Email.png" style="margin-right: 8px;">
          <h3 style="color: white">aaaaa</h3>
      </span>
            <span>
          <img src="../../assets/icon/Numero.png" style="margin: 0 12px 0 3px;">
          <h3 style="color: white">aaaaa</h3>
      </span>
            <span>
          <img src="../../assets/icon/Instagram.png" style="width: 24.78px; height: 24.78px;">
          <img src="../../assets/icon/Whatsapp.png" style="margin-left: 38px; width: 24.78px; height: 24.78px;">
          <img src="../../assets/icon/Facebook.png" style="margin-left: 38px; width: 24.78px; height: 24.78px;">
      </span>
            <img src="../../assets/logo.png" style="width: 90px; margin-top: 40px">
        </div>
    </div>
</ion-content>