.cursoCont {
    margin-bottom: 8px;
    > :first-child {
        margin-top: 8.2vw;
        padding: 20px 14.5%;
        background-color: #1B1B1B;
        p {
            font-size: max(1.5vw, 16px);
            font-weight: 700;
            color: #FFFFFF;
        }
        +div {
            padding: 32px 14.5%;
        }
        @media (max-width: 500px) {
            margin-top: 15.5vw;
            padding: 5.8% 7.5%;
            +div {
                padding: 3.75% 7.5%;
            }
        }
    }
    .cursoCards {
        width: calc(44vw + 32px);
        float: left;
        ion-card {
            box-shadow: 0px 4px 5px rgba(155, 155, 155, 0.14), 0px 1px 10px rgba(155, 155, 155, 0.12), 0px 2px 4px rgba(155, 155, 155, 0.2);
            margin: 0 16px 32px 0;
            width: 22vw;
            background-color: white;
            padding-top: 20px;
            border-radius: 10px;
            height: 14.5vw;
            float: left;
            div {
                float: left;
                height: 1.2vw;
                width: .4vw;
                background-color: #FF9E01;
            }
            p {
                margin-left: calc(5% - .4vw);
                float: left;
                color: #6509B3;
                font-size: 1.2vw;
                font-weight: 700;
                line-height: 1.2vw;
            }
            span {
                display: block;
                padding: 0 5%;
                margin-top: 10%;
                clear: left;
                font-size: 1.7vw;
                font-weight: 700;
                line-height: 1.7vw;
            }
        }
        @media (max-width: 500px) {
            width: 100%;
            float: none;
            ion-card {
                margin: 0 0 16px 0;
                width: 39vw;
                height: 48vw;
                div {
                    height: 4vw;
                    width: 1.2vw;
                }
                p {
                    margin-left: calc(10% - 1.2vw);
                    font-size: 4vw;
                    line-height: 4vw;
                }
                span {
                    padding: 0 2.7vw;
                    margin-top: 25%;
                    font-size: 4.4vw;
                    line-height: 4.4vw;
                }
            }
            ion-card:nth-child(2),
            ion-card:nth-child(4),
            ion-card:nth-child(6) {
                float: right;
            }
        }
    }
    .buyCourse {
        width: 22vw;
        float: right;
        ion-card {
            margin: 0;
            box-shadow: 0px 4px 5px rgba(155, 155, 155, 0.14), 0px 1px 10px rgba(155, 155, 155, 0.12), 0px 2px 4px rgba(155, 155, 155, 0.2);
            border-radius: 10px;
            background-color: white;
            img {
                width: 100%;
                border-radius: 0 0 10px 10px;
            }
            ion-card-content {
                padding: 1.2vw 2.5vw;
                div {
                    display: flex;
                    align-items: center;
                    margin-top: 15px;
                    height: 8%;
                    img {
                        width: 8%;
                        float: left;
                        margin-right: 6%;
                    }
                    p {
                        color: #A8A8A8;
                        font-size: 1.2vw;
                        font-weight: 700;
                        line-height: 1.2vw;
                    }
                }
                >div:nth-child(4) img {
                    width: 11%;
                    margin-right: 3.3%;
                }
                h2 {
                    margin-top: 8px;
                    text-align: center;
                    color: #FF9E01;
                    font-size: calc(8px + 1.5vw);
                    font-weight: 700;
                }
                h3 {
                    text-align: center;
                    margin-top: 10.5%;
                    font-size: 1.4vw;
                    font-weight: 700;
                    line-height: 1.8vw;
                }
                button {
                    margin-left: 2.2vw;
                    margin-top: 1.5vw;
                    margin-bottom: 3.5vw;
                    color: white;
                    background-color: #FF9E01;
                    border-radius: 40px;
                    width: 12.5vw;
                    height: 3vw;
                }
            }
            h1 {
                font-size: 1.4vw;
                font-weight: 700;
                line-height: 1.4vw;
            }
        }
        @media (max-width: 500px) {
            width: 100%;
            clear: both;
            float: none;
            padding-top: 16px;
            ion-card {
                h1 {
                    text-align: center;
                    font-size: 4.8vw;
                    line-height: 5vw;
                }
                ion-card-content {
                    padding: 16px 14vw;
                    div {
                        margin-top: 16px;
                        height: 6vw;
                        img {
                            width: 5.8vw;
                            margin-right: 5.4%;
                        }
                        p {
                            font-size: 3.9vw;
                            line-height: 3.9vw;
                        }
                    }
                    >div:nth-child(4) img {
                        width: 8vw;
                        margin-right: 4%;
                    }
                    h2 {
                        margin-top: 14px;
                        font-size: 6.7vw;
                    }
                    h3 {
                        font-size: 4.8vw;
                        line-height: 6vw;
                        font-weight: 700;
                    }
                    button {
                        width: 41vw;
                        height: 9.7vw;
                        display: block;
                        margin: auto;
                        margin-top: 14px;
                    }
                }
            }
        }
    }
}

.vendasFooter {
    background-image: url('../../assets/Backgrounds/FooterBackground.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #b45557;
    width: 100%;
    height: 32vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    div {
        margin: 0 auto 0 auto;
    }
    >div:first-child {
        display: flex;
        align-items: center;
        width: 440px;
        img {
            margin-right: 32px;
        }
        p {
            color: #FFFFFF;
            font-size: 36px;
            font-weight: 200;
            line-height: 40px;
        }
    }
    >p:nth-child(2) {
        width: 194px;
        margin: 3.3% auto 1.1% auto;
        font-size: 14px;
        font-weight: 600;
        line-height: 24px;
        color: #FFFFFF;
    }
    >div:nth-child(3) {
        width: 152px;
        display: flex;
        justify-content: space-between;
        img {
            width: 24.78px;
            height: 24.78px;
        }
    }
    >div:nth-child(4) {
        margin-top: 3.2%;
        display: flex;
        justify-content: space-between;
        p {
            font-size: 16px;
            font-weight: 700;
            line-height: 16px;
            color: #FFFFFF;
        }
        div {
            margin: 0 16px;
            width: 1px;
            height: 16px;
            background-color: #FFFFFF;
        }
    }
    @media (max-width: 500px) {
        background-image: url('/../../assets/Backgrounds/FooterBackgroundMobile.png');
        background-repeat: no-repeat;
        background-size: contain;
        height: 74.88vw;
        >div:first-child {
            width: 100%;
            justify-content: center;
            img {
                width: 38vw;
            }
            p {
                font-size: 5.8vw;
                line-height: 5.8vw;
            }
        }
        >p:nth-child(2) {
            margin: 32px auto 16px auto;
        }
        >div:nth-child(4) {
            margin-top: 30px;
        }
    }
}

.firstDegrade {
    width: 100%;
    background: linear-gradient(84.49deg, #FF9E01 2.66%, #6509B3 93.48%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    // padding: clamp(40px, 4.6%, 100px) 0 clamp(40px, 4.6%, 100px) 14.5%;
    padding: max(40px, 4.6%) 0 max(40px, 4.6%) 14.5%;
    padding-left: 14.5%;
    p {
        font-size: max(22px, 3.7vw);
        font-weight: 700;
        line-height: max(24px, 3.7vw);
        color: #FFFFFF;
    }
    @media (max-width: 500px) {
        padding: max(25px, 2%) 0;
        padding-left: max(32px, 2.3%);
        p {
            font-size: max(18px, 6.5vw);
            line-height: max(19px, 6.6vw);
        }
    }
}

#notSoCommon {
    h2 {
        margin-bottom: 0;
    }
    @media (max-width: 500px) {
        margin: 0;
        padding: 28px 7.7vw;
    }
}