/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */


/* Core CSS required for Ionic components to work properly */

@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */

@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/*Fonts*/

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@500;600;700&display=swap');
:root,
:root[mode="md"],
:root[mode="ios"] {
    --ion-font-family: 'Archivo';
    font-family: var(--ion-font-family) !important;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root,
:root[mode="md"],
:root[mode="ios"] {
    --ion-font-family: 'Poppins';
    font-family: var(--ion-font-family) !important;
}

* {
    font-family: 'Mulish', sans-serif;
}

li {
    float: left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 19px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 12px 16px 12px 16px;
    text-decoration: none;
}

.roundedLink {
    background-color: #6509B3;
    border-radius: 50px;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

p {
    color: black;
    font-size: 20px;
    margin: 0;
    // font-family: ;
}

.logo {
    height: 59px;
    margin-top: 10px;
    margin-left: 7vw;
    float: left;
}

.banners {
    background-repeat: no-repeat;
    background-size: calc(100vw + 2px);
    height: 42.5vw;
    position: relative;
    margin: 0;
    border: 0;
    padding: 0;
}

.titulo {
    display: block;
    position: relative;
    margin: 2.5% 0 0 7%;
}

div.titulo p {
    padding-bottom: 13px;
    font-size: 28px;
    color: #6509B3;
}

div.titulo div {
    position: absolute;
    bottom: 0px;
    height: 5px;
    width: 83px;
    background-color: #FF9E01;
}

.footer {
    clear: left;
    background-color: #FF9E01;
    width: 100vw;
    height: 200px;
}

ion-slides {
    --bullet-background: #686868;
    --bullet-background-active: #572c41 !important;
}