/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */


/* Core CSS required for Ionic components to work properly */

@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */

@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/*Fonts*/

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@500;600;700&display=swap');
:root,
:root[mode="md"],
:root[mode="ios"] {
    --ion-font-family: 'Archivo';
    font-family: var(--ion-font-family) !important;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root,
:root[mode="md"],
:root[mode="ios"] {
    --ion-font-family: 'Poppins';
    font-family: var(--ion-font-family) !important;
}

* {
    font-family: 'Mulish', sans-serif;
    color: #333332;
}

li {
    float: left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 19px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 12px 1.2vw;
    text-decoration: none;
}

ion-content {
    --background: #F7F7F7;
}

.roundedLink {
    height: 40px;
    padding: 7px 20px;
    background-color: transparent;
    border: 3px solid #FFFFFF;
    border-radius: 50px;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

p {
    font-size: 20px;
    margin: 0;
    // font-family: ;
}

.logo {
    height: 59px;
    margin-top: 10px;
    float: left;
}

.banners {
    background-repeat: no-repeat;
    background-size: calc(100vw + 2px);
    height: 42.5vw;
    position: relative;
    margin: 0;
    border: 0;
    padding: 0;
    div ion-button {
        --border-radius: 50px;
        width: 170px;
        height: 42px;
        margin-top: 5%
    }
}

div.titulo {
    display: block;
    position: relative;
    //margin: 2.5% 0 0 7%;
    text-align: center;
    width: 20%;
    margin: auto;
    p {
        padding-bottom: 8px;
        font-size: 24px;
        strong {
            color: #6509B3;
        }
    }
    div {
        height: 3px;
        width: 83px;
        margin: auto;
        background-color: #FF9E01;
    }
    @media (max-width: 500px) {
        width: 90%;
    }
}

.footer {
    display: flex;
    justify-content: space-between;
    clear: left;
    background: linear-gradient(82.74deg, #FF9E01 14.18%, #6509B3 107.05%);
    width: 100%;
    height: 289px;
    padding: 32px 14.5vw;
    div {
        // display: flex;
        // flex-direction: column;
        // justify-content: space-between;
        height: 224px;
        h1 {
            color: white;
            font-size: 18px;
            font-weight: 700;
            line-height: 24px;
            margin: 0;
        }
        p {
            margin-top: 16px;
            color: white;
            font-size: 14px;
            font-weight: 600;
            line-height: 24px;
        }
        span {
            margin-top: 16px;
            display: flex;
            align-items: center;
            h3 {
                margin: 0;
                color: white;
                font-size: 14px;
                font-weight: 600;
                line-height: 24px;
            }
        }
    }
}

.commonCont {
    background-color: white;
    width: 100%;
    padding: 36px 14.5vw 36px 14.5vw;
    margin: 110px 0 40px 0;
    h1 {
        font-size: 4.1vw;
        font-weight: 700;
        line-height: 4.1vw;
        color: #FF9E01;
        margin: 0 0 16px 0;
    }
    h2 {
        font-size: 4.1vw;
        font-weight: 700;
        line-height: 4.1vw;
        margin: 0 0 16px 0;
        span {
            color: #6509B3;
        }
    }
    p {
        font-size: 18px;
        font-weight: 700;
        line-height: 24px;
    }
}

.degradeCommonCont {
    width: 100%;
    padding: 40px 14.5vw 64px 14.5vw;
    background: linear-gradient(292.43deg, #FF9E01 -15.25%, #6509B3 98.91%);
    h1 {
        color: white;
        font-size: 4.1vw;
        font-weight: 700;
        line-height: 5.2vw;
        margin: 0 0 60px 0;
    }
    p {
        color: white;
        font-size: calc(8px + 1.5vw);
        font-weight: 400;
        line-height: 40px;
        strong {
            color: white;
            font-size: calc(8px + 1.5vw);
            font-weight: 700;
            line-height: 40px;
        }
    }
}

ion-slides {
    --bullet-background: #FFFFFF !important;
    --bullet-background-active: #FF9E01 !important;
}

ion-header {
    width: calc(100vw - 16px);
    transition: background-color 0.5s ease 0s, box-shadow 0.5s ease 0s !important;
    ion-toolbar {
        --background: transparent;
        height: 80px;
        padding: 0 14.5%;
        width: 100%;
    }
}

.headerTop {
    background-color: transparent;
}

.headerSolid {
    background-color: #FF9E01;
    box-shadow: 0px 2px 4px rgba(153, 103, 17, 0.4);
}

.ofertaCont {
    margin-top: 40px;
    >div:first-child {
        background-color: #FF3333;
        text-align: center;
        padding: max(1.2%, 8px) 0;
        p {
            color: white;
            font-size: clamp(14px, 1.5vw ,100px);
            font-weight: 700;
            line-height: clamp(16px, 1.7vw ,100px);
        }
    }
    .offerTitle {
        width: 71%;
        margin: auto;
        margin-top: 30px;
        >div:first-child {
            margin-top: 30px;
            width: 50%;
            float: left;
            background-color: transparent;
            text-align: left;
            p {
                font-size: 3.7vw;
                font-weight: 700;
                line-height: 3.7vw;
                color: #323333;
            }
            div {
                width: 96%;
                text-align: center;
                background-color: #FF9E01;
                padding: max(5px, 0.6%) 0;
                margin-top: 4.5%;
                p {
                    font-size: 18px;
                    font-weight: 700;
                    line-height: 24px;
                    color: #6509B3;
                }
            }
            +img {
                width: 46%;
                min-width: 177px;
                float: left;
                clear: right;
            }
        }
        @media (max-width: 500px) {
            width: 85%;
            >div:first-child {
                width: 100%;
                float: none;
                text-align: center;
                p {
                    font-size: max(24px, 9vw) /*clamp(34px, 3.7vw, 80px)*/;
                    line-height: max(24px, 9vw) /*clamp(34px, 3.7vw, 80px)*/;
                }
                div {
                    width: 100%;
                }
                +img {
                    width: 85%;
                    float: none;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 30px;
                }
            }
        }
    }
    .ofertaElements {
        width: 70%;
        margin: auto;
        margin-top: 25px;
        ul {
            display: flex;
            align-items: flex-end;
            justify-content: center;
            flex-flow: wrap;
            li:nth-child(5){
                margin-right: 20px;
                margin-top: 60px;
            }
            li {
                width: 33%;
                text-align: center;
                div {
                    height: 50px;
                    p {
                        font-size: 17px;
                        font-weight: 700;
                        line-height: 24px;
                    }
                }
                img {
                    margin: auto;
                }
            }
        }
        @media (max-width: 500px) {
            width: 80%;
            ul{
                li:nth-child(5){
                    margin: 0;
                    margin-top: 15px;
                }
                li {
                    margin-top: 15px;
                    width: 100%;
                }
            }
        }
    }
    .ofertaDetails {
        text-align: center;
        width: 71%;
        margin: auto;
        margin-top: 7%;
        span {
            color: #A8A8A8;
            font-size: max(20px, 2vw);
            font-weight: 700;
        }
        h1 {
            margin: 20px 0 max(3vw, 15px) 0;
            font-size: max(3.5vw, 32px);
            font-weight: 800;
            line-height: max(5vw, 50px);
            text-align: center;
            strong {
                font-size: 80px;
                font-style: normal;
                font-weight: 800;
                line-height: 70px;
                text-align: center;
            }
        }
        p {
            font-size: max(20px, 2vw);
            font-weight: 700;
        }
        button {
            margin-top: 40px;
            width: max(31.5vw, 220px);
            height: max(5.3vw, 40px);
            color: white;
            font-size: max(16px, 2.5vw);
            font-weight: 700;
            background-color: #FF9E01;
            border-radius: 50px;
        }
        @media (max-width: 500px) {
            width: 85%;
            h1 {
                font-size: max(10vw, 32px);
                line-height: max(11.5vw, 36px);
                strong {
                    font-size: max(12vw, 38px);
                    line-height:  max(13vw, 35px);
                }
            }
        }
    }
}

// @media (max-width: 800px) {
//     .offerTitle div p {
//         text-align: center !important;
//     }
// }