/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */


/* Core CSS required for Ionic components to work properly */

@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */

@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/*Fonts*/

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@500;600;700&display=swap');
:root,
:root[mode="md"],
:root[mode="ios"] {
    --ion-font-family: 'Archivo';
    font-family: var(--ion-font-family) !important;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root,
:root[mode="md"],
:root[mode="ios"] {
    --ion-font-family: 'Poppins';
    font-family: var(--ion-font-family) !important;
}

* {
    font-family: 'Mulish', sans-serif;
    color: #333332;
}

li {
    float: left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 19px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 12px 1.2vw;
    text-decoration: none;
    cursor: pointer;
}

ion-content {
    --background: #F7F7F7;
}

.roundedLink {
    height: 40px;
    padding: 7px 20px;
    background-color: transparent;
    border: 3px solid #FFFFFF;
    border-radius: 50px;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

p {
    font-size: 20px;
    margin: 0;
    // font-family: ;
}

.BannersSlider {
    ion-slide {
        align-items: center;
        justify-content: start;
    }
    .banners {
        background-repeat: no-repeat;
        background-size: calc(100vw + 2px);
        height: 42.5vw;
        position: relative;
        margin: 0;
        border: 0;
        padding: 0;
        .bannerCard {
            background-image: url('assets/Panels/BannerPanel.png');
            background-repeat: no-repeat;
            background-size: contain;
            margin-left: 13%;
            width: 44.5%;
            height: 62.5%;
            .bannerTexts {
                position: relative;
                text-align: left;
                width: 72%;
                height: 72%;
                margin: 10% 14%;
                .titulo {
                    text-align: left;
                    width: 100%;
                    div {
                        margin: 0;
                    }
                    p {
                        strong {
                            font-size: 1.75vw;
                            line-height: 1.75vw;
                        }
                    }
                    +p {
                        font-size: 1.2vw;
                        line-height: 1.75vw;
                        margin-top: 7%;
                    }
                }
                button {
                    position: absolute;
                    bottom: 1vw;
                    right: 0;
                    background-color: #6509B3;
                    border-radius: 40px;
                    width: 40%;
                    height: 15%;
                    margin: auto;
                    margin-top: 10px;
                    a {
                        font-size: 1.2vw;
                        font-weight: 700;
                        color: #FFFFFF;
                        text-decoration: none;
                        padding: 6.4% 21.8%;
                    }
                }
            }
        }
        @media (max-width: 500px) {
            height: 177vw;
            .bannerCard {
                width: 73%;
                height: 30%;
                display: block;
                margin: auto;
                margin-top: 120%;
                .bannerTexts {
                    .titulo {
                        p {
                            strong {
                                font-size: 3.4vw;
                                line-height: 3vw;
                            }
                        }
                        +p {
                            font-weight: 600;
                            font-size: 2.2vw;
                            line-height: 3vw;
                        }
                    }
                    button {
                        width: 0;
                        height: 0;
                        opacity: 0;
                        margin: 0;
                    }
                }
            }
        }
    }
    #banner1 {
        background-image: url('assets/Backgrounds/SeLiga.png');
        @media (max-width: 500px) {
            background-image: url('assets/Backgrounds/SeLigaMobile.png');
        }
    }
    #banner2 {
        background-image: url('assets/Backgrounds/Informado.png');
        @media (max-width: 500px) {
            background-image: url('assets/Backgrounds/InformadoMobile.png');
        }
    }
    #banner3 {
        background-image: url('assets/Backgrounds/LevelUp.png');
        @media (max-width: 500px) {
            background-image: url('assets/Backgrounds/LevelUpMobile.png');
        }
    }
}

div.titulo {
    display: block;
    position: relative;
    //margin: 2.5% 0 0 7%;
    text-align: center;
    width: 20%;
    margin: auto;
    p {
        padding-bottom: 8px;
        strong {
            font-size: 24px;
            color: #6509B3;
        }
    }
    div {
        height: 3px;
        width: 83px;
        margin: auto;
        background-color: #FF9E01;
    }
    @media (max-width: 500px) {
        width: 90%;
    }
}

.footer {
    display: flex;
    justify-content: space-between;
    clear: left;
    background: linear-gradient(82.74deg, #FF9E01 14.18%, #6509B3 107.05%);
    width: 100%;
    padding: 32px 12.5vw;
    a {
        text-decoration: none;
        color: white;
    }
    div {
        height: 224px;
        h1 {
            color: white;
            font-size: 18px;
            font-weight: 700;
            line-height: 24px;
            margin: 0;
        }
        p {
            margin-top: 16px;
            color: white;
            font-size: 14px;
            font-weight: 600;
            line-height: 24px;
        }
        span {
            margin-top: 16px;
            display: flex;
            align-items: center;
            h3 {
                margin: 0;
                color: white;
                font-size: 14px;
                font-weight: 600;
                line-height: 24px;
            }
        }
    }
    div:nth-child(4) {
        height: 80px;
        p {
            font-size: 20px;
            font-weight: 700;
            line-height: 24px;
            margin-top: 0;
        }
        input {
            margin-top: 8px;
            background-color: #E2E1E1;
            border: 2px solid #A8A8A8;
            border-radius: 10px;
            height: 38px;
            width: 220px;
        }
    }
    @media (max-width: 500px) {
        flex-direction: column;
        align-items: center;
        text-align: center;
        div {
            p {
                margin-top: 13px;
            }
        }
        div:first-child {
            margin-bottom: 32px;
            height: 180px;
        }
        div:nth-child(3) {
            display: flex;
            align-items: center;
            flex-direction: column;
        }
        div:nth-child(4) {
            margin-top: 30px;
        }
    }
}

.commonCont {
    background-color: white;
    width: 100%;
    padding: 36px 14.5vw 36px 14.5vw;
    margin: 110px 0 40px 0;
    h1 {
        font-size: 4.1vw;
        font-weight: 700;
        line-height: 4.1vw;
        color: #FF9E01;
        margin: 0 0 16px 0;
    }
    h2 {
        font-size: 4.1vw;
        font-weight: 700;
        line-height: 4.1vw;
        margin: 0 0 16px 0;
        span {
            color: #6509B3;
        }
    }
    p {
        font-size: 18px;
        font-weight: 700;
        line-height: 24px;
    }
    @media (max-width: 500px) {
        margin: 32px 0;
        padding: 3.9vw 7.7vw;
        h1 {
            font-size: 5.7vw;
            line-height: 5.7vw;
        }
        h2 {
            font-size: 5.7vw;
            line-height: 5.7vw;
        }
        p {
            font-size: 3.9vw;
            line-height: 3.9vw;
            font-weight: 400;
        }
    }
}

.degradeCommonCont {
    width: 100%;
    padding: 40px 14.5vw 64px 14.5vw;
    background: linear-gradient(292.43deg, #FF9E01 -15.25%, #6509B3 98.91%);
    h1 {
        color: white;
        font-size: 4.1vw;
        font-weight: 700;
        line-height: 5.2vw;
        margin: 0 0 60px 0;
    }
    p {
        color: white;
        font-size: calc(8px + 1.5vw);
        font-weight: 400;
        line-height: 40px;
        strong {
            color: white;
            font-size: calc(8px + 1.5vw);
            font-weight: 700;
            line-height: 40px;
        }
    }
    @media (max-width: 500px) {
        padding: 7.7vw;
        h1 {
            font-size: 5.8vw;
            line-height: 7vw;
            margin-bottom: 7.7vw;
        }
        p {
            font-size: 3.9vw;
            line-height: 5.8vw;
            strong {
                font-size: 3.9vw;
                line-height: 5.8vw;
            }
        }
    }
}

.degradeSmallCont {
    width: 100%;
    background: linear-gradient(84.49deg, #FF9E01 2.66%, #6509B3 93.48%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    // padding: clamp(40px, 4.6%, 100px) 0 clamp(40px, 4.6%, 100px) 14.5%;
    padding: max(40px, 4.6%) 0 max(40px, 4.6%) 14.5%;
    padding-left: 14.5%;
    p {
        font-size: max(22px, 3.7vw);
        font-weight: 700;
        line-height: max(24px, 3.7vw);
        color: #FFFFFF;
    }
    @media (max-width: 500px) {
        padding: max(25px, 2%) 0;
        padding-left: max(32px, 2.3%);
        p {
            font-size: max(18px, 6.5vw);
            line-height: max(19px, 6.6vw);
        }
    }
}

ion-slides {
    --bullet-background: #FFFFFF !important;
    --bullet-background-active: #FF9E01 !important;
}

ion-header {
    width: 100%;
    transition: background-color 0.5s ease 0s, box-shadow 0.5s ease 0s, height 0.5s ease 0s !important;
    @media (max-width: 500px) {
        transition: background-color 0.5s ease 0s, box-shadow 0.5s ease 0s, height 0.5s ease 0s, background-position 0.5s ease 0s !important;
    }
    min-height: 80px;
    ion-toolbar {
        --background: transparent;
        height: 80px;
        padding: 0 14.5%;
        width: 100%;
    }
    button {
        float: left;
        width: 34px;
        height: 34px;
        background-image: url('assets/icon/hamburguerButton.png');
        background-repeat: no-repeat;
        background-color: transparent;
        background-size: contain;
        margin-top: 23px;
        @media (min-width: 500px) {
            width: 0;
            opacity: 0;
        }
    }
    @media (max-width: 500px) {
        ion-toolbar {
            padding: 0 7%;
        }
    }
}

.logo {
    height: 59px;
    width: 130px;
    margin-top: 10px;
    float: left;
    display: block;
    @media (max-width: 500px) {
        float: none;
        margin: auto;
        margin-top: 10px;
    }
}

.headerTop {
    background: linear-gradient(286.43deg, #FF9E01 26%, #6509B3 98.91%);
    // background: linear-gradient(286.43deg, #6509B3 26%, #FF9E01 98.91%);
    background-position: 0 -200px;
    background-repeat: no-repeat;
    background-color: transparent !important;
}

.headerSolid {
    background: linear-gradient(286.43deg, #FF9E01 26%, #6509B3 98.91%);
    // background: linear-gradient(286.43deg, #6509B3 26%, #FF9E01 98.91%);
    background-repeat: no-repeat;
    background-color: #FF9E01;
    background-position: -200vw;
    // background-position: 110vw;
    box-shadow: 0px 2px 4px rgba(153, 103, 17, 0.4);
}

.headerOpened {
    background: linear-gradient(286.43deg, #FF9E01 26%, #6509B3 98.91%);
    // background: linear-gradient(286.43deg, #6509B3 26%, #FF9E01 98.91%);
    background-repeat: no-repeat;
    background-color: #FF9E01;
    background-position: 0;
    box-shadow: 0px 2px 4px rgba(153, 103, 17, 0.4);
    >div {
        height: 350px !important;
    }
    #openedHeader {
        p {
            opacity: 1;
            transition: line-height 0.4s ease 0.08s, opacity 0.1s ease 0.05s;
            line-height: 43px;
        }
    }
}

#openedHeader {
    transition: height 0.5s ease 0s;
    height: 0;
    padding: 0 7%;
    overflow: hidden;
    p {
        opacity: 0;
        transition: line-height 0.3s ease 0s, opacity 0s ease 0.15s;
        color: #FFFFFF;
        font-size: 20px;
        line-height: 0px;
        font-weight: 700;
    }
}

.ofertaCont {
    margin-top: 40px;
    >div:first-child {
        background-color: #FF3333;
        text-align: center;
        padding: max(1.2%, 8px) 0;
        p {
            color: white;
            font-size: clamp(14px, 1.5vw, 100px);
            font-weight: 700;
            line-height: clamp(16px, 1.7vw, 100px);
        }
    }
    .offerTitle {
        width: 71%;
        margin: auto;
        margin-top: 30px;
        >div:first-child {
            margin-top: 30px;
            width: 50%;
            float: left;
            background-color: transparent;
            text-align: left;
            p {
                font-size: 3.7vw;
                font-weight: 700;
                line-height: 3.7vw;
                color: #323333;
            }
            div {
                width: 96%;
                text-align: center;
                background-color: #FF9E01;
                padding: max(5px, 0.6%) 0;
                margin-top: 4.5%;
                p {
                    font-size: 18px;
                    font-weight: 700;
                    line-height: 24px;
                    color: #6509B3;
                }
            }
            +img {
                width: 46%;
                min-width: 177px;
                float: left;
                clear: right;
            }
        }
        @media (max-width: 500px) {
            width: 85%;
            >div:first-child {
                width: 100%;
                float: none;
                text-align: center;
                p {
                    font-size: clamp(34px, 3.7vw, 80px);
                    line-height: clamp(34px, 3.7vw, 80px);
                }
                div {
                    width: 100%;
                }
                +img {
                    width: 85%;
                    float: none;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 30px;
                }
            }
        }
    }
    .ofertaElements {
        width: 70%;
        margin: auto;
        margin-top: 25px;
        ul {
            display: flex;
            align-items: flex-end;
            justify-content: center;
            flex-flow: wrap;
            li:nth-child(5) {
                margin-right: 20px;
                margin-top: 60px;
            }
            li {
                width: 33%;
                text-align: center;
                div {
                    height: 50px;
                    p {
                        font-size: 17px;
                        font-weight: 700;
                        line-height: 24px;
                    }
                }
                img {
                    margin: auto;
                }
            }
        }
        @media (max-width: 500px) {
            width: 80%;
            ul {
                li:nth-child(5) {
                    margin: 0;
                    margin-top: 15px;
                }
                li {
                    margin-top: 15px;
                    width: 100%;
                }
            }
        }
    }
    .ofertaDetails {
        text-align: center;
        width: 71%;
        margin: auto;
        margin-top: 7%;
        span {
            color: #A8A8A8;
            font-size: max(20px, 2vw);
            font-weight: 700;
        }
        h1 {
            margin: 20px 0 max(3vw, 15px) 0;
            font-size: max(3.5vw, 32px);
            font-weight: 800;
            line-height: max(5vw, 50px);
            text-align: center;
            strong {
                font-size: 80px;
                font-style: normal;
                font-weight: 800;
                line-height: 70px;
                text-align: center;
            }
        }
        p {
            font-size: max(20px, 2vw);
            font-weight: 700;
            margin-bottom: 60px;
        }
        a {
            // width: max(31.5vw, 220px);
            // height: max(5.3vw, 40px);
            padding: max(1.4vw, 12px) max(6vw, 40px);
            color: white;
            font-size: max(2.5vw, 16px);
            font-weight: 700;
            background-color: #FF9E01;
            border-radius: 50px;
            text-decoration: none;
        }
        @media (max-width: 500px) {
            width: 85%;
            h1 {
                font-size: max(10vw, 32px);
                line-height: max(11.5vw, 36px);
                strong {
                    font-size: max(12vw, 38px);
                    line-height: max(13vw, 35px);
                }
            }
        }
    }
}

.cursoCont {
    margin-bottom: 8px;
    .cursoCards {
        width: calc(44vw + 32px);
        float: left;
        ion-card {
            box-shadow: 0px 4px 5px rgba(155, 155, 155, 0.14), 0px 1px 10px rgba(155, 155, 155, 0.12), 0px 2px 4px rgba(155, 155, 155, 0.2);
            margin: 0 16px 32px 0;
            width: 22vw;
            background-color: white;
            padding-top: 20px;
            border-radius: 10px;
            height: 14.5vw;
            float: left;
            div {
                float: left;
                height: 1.2vw;
                width: .4vw;
                background-color: #FF9E01;
            }
            p {
                margin-left: calc(5% - .4vw);
                float: left;
                color: #6509B3;
                font-size: 1.2vw;
                font-weight: 700;
                line-height: 1.2vw;
            }
            span {
                display: block;
                padding: 0 5%;
                margin-top: 10%;
                clear: left;
                font-size: 1.7vw;
                font-weight: 700;
                line-height: 1.7vw;
            }
        }
        @media (max-width: 500px) {
            width: 100%;
            float: none;
            ion-card {
                margin: 0 0 16px 0;
                width: 39vw;
                height: 48vw;
                div {
                    height: 4vw;
                    width: 1.2vw;
                }
                p {
                    margin-left: calc(10% - 1.2vw);
                    font-size: 4vw;
                    line-height: 4vw;
                }
                span {
                    padding: 0 2.7vw;
                    margin-top: 25%;
                    font-size: 4.4vw;
                    line-height: 4.4vw;
                }
            }
            ion-card:nth-child(2),
            ion-card:nth-child(4),
            ion-card:nth-child(6) {
                float: right;
            }
        }
    }
    .buyCourse {
        width: 22vw;
        float: right;
        ion-card {
            margin: 0;
            box-shadow: 0px 4px 5px rgba(155, 155, 155, 0.14), 0px 1px 10px rgba(155, 155, 155, 0.12), 0px 2px 4px rgba(155, 155, 155, 0.2);
            border-radius: 10px;
            background-color: white;
            img {
                width: 100%;
                border-radius: 0 0 10px 10px;
            }
            ion-card-content {
                padding: 1.2vw 2.5vw 4.7vw 2.5vw;
                div {
                    display: flex;
                    align-items: center;
                    margin-top: 15px;
                    height: 8%;
                    img {
                        width: 8%;
                        float: left;
                        margin-right: 6%;
                    }
                    p {
                        color: #A8A8A8;
                        font-size: 1.2vw;
                        font-weight: 700;
                        line-height: 1.2vw;
                    }
                }
                >div:nth-child(4) img {
                    width: 11%;
                    margin-right: 3.3%;
                }
                h3 {
                    text-align: center;
                    margin-top: 10.5%;
                    font-size: 1.4vw;
                    font-weight: 700;
                    line-height: 1.8vw;
                }
                h2 {
                    margin-top: 8px;
                    text-align: center;
                    color: #FF9E01;
                    font-size: calc(8px + 1.5vw);
                    font-weight: 700;
                    margin-bottom: 1.5vw;
                }
                a {
                    // margin-left: 2.5vw;
                    color: white;
                    background-color: #FF9E01;
                    border-radius: 40px;
                    padding: 1vw 2.1vw;
                    text-decoration: none;
                }
            }
            h1 {
                font-size: 1.4vw;
                font-weight: 700;
                line-height: 1.4vw;
            }
        }
        @media (max-width: 500px) {
            width: 100%;
            clear: both;
            float: none;
            padding-top: 16px;
            ion-card {
                h1 {
                    text-align: center;
                    font-size: 4.8vw;
                    line-height: 5vw;
                }
                ion-card-content {
                    padding: 16px 14vw;
                    div {
                        margin-top: 16px;
                        height: 6vw;
                        img {
                            width: 5.8vw;
                            margin-right: 5.4%;
                        }
                        p {
                            font-size: 3.9vw;
                            line-height: 3.9vw;
                        }
                    }
                    >div:nth-child(4) img {
                        width: 8vw;
                        margin-right: 4%;
                    }
                    h2 {
                        margin-top: 14px;
                        font-size: 6.7vw;
                        margin-bottom: 5vw;
                    }
                    h3 {
                        font-size: 4.8vw;
                        line-height: 6vw;
                        font-weight: 700;
                    }
                    a {
                        // margin-left: 10.4vw;
                        color: white;
                        background-color: #FF9E01;
                        border-radius: 40px;
                        padding: 2vw 6.1vw;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgba(65, 62, 62, 0.5);
}

::-webkit-scrollbar {
    width: 16px;
}

// @media (max-width: 800px) {
//     .offerTitle div p {
//         text-align: center !important;
//     }
// }