/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */


/* Core CSS required for Ionic components to work properly */

@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */

@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/*Fonts*/

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@500;600;700&display=swap');
:root,
:root[mode="md"],
:root[mode="ios"] {
    --ion-font-family: 'Archivo';
    font-family: var(--ion-font-family) !important;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root,
:root[mode="md"],
:root[mode="ios"] {
    --ion-font-family: 'Poppins';
    font-family: var(--ion-font-family) !important;
}

* {
    font-family: 'Mulish', sans-serif;
    color: #333332;
}

li {
    float: left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 19px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 12px 1.2vw;
    text-decoration: none;
}

.roundedLink {
    height: 40px;
    padding: 12px 20px;
    background-color: #FF9E01;
    border-radius: 50px;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

p {
    font-size: 20px;
    margin: 0;
    // font-family: ;
}

.logo {
    height: 59px;
    margin-top: 10px;
    float: left;
}

.banners {
    background-repeat: no-repeat;
    background-size: calc(100vw + 2px);
    height: 42.5vw;
    position: relative;
    margin: 0;
    border: 0;
    padding: 0;
}

// .banners div {
//     text-align: center;
//     margin: 0;
//     width: 25%;
//     position: absolute;
//     left: 14.5%;
//     top: 50%;
//     -ms-transform: translateY(-50%);
//     transform: translateY(-50%);
// }
.banners div ion-button {
    --border-radius: 50px;
    width: 170px;
    height: 42px;
    margin-top: 5%
}

.titulo {
    display: block;
    position: relative;
    //margin: 2.5% 0 0 7%;
    text-align: center;
    width: 20%;
    margin: auto;
}

div.titulo p {
    padding-bottom: 8px;
    font-size: 24px;
    strong {
        color: #6509B3;
    }
}

div.titulo div {
    height: 3px;
    width: 83px;
    margin: auto;
    background-color: #FF9E01;
}

.footer {
    display: flex;
    justify-content: space-between;
    clear: left;
    background: linear-gradient(82.74deg, #FF9E01 14.18%, #6509B3 107.05%);
    width: 100%;
    height: 289px;
    padding: 32px 14.5vw;
    div {
        // display: flex;
        // flex-direction: column;
        // justify-content: space-between;
        height: 224px;
        h1 {
            color: white;
            font-size: 18px;
            font-weight: 700;
            line-height: 24px;
            margin: 0;
        }
        p {
            margin-top: 16px;
            color: white;
            font-size: 14px;
            font-weight: 600;
            line-height: 24px;
        }
        span {
            margin-top: 16px;
            display: flex;
            align-items: center;
            h3 {
                margin: 0;
                color: white;
                font-size: 14px;
                font-weight: 600;
                line-height: 24px;
            }
        }
    }
}

ion-slides {
    --bullet-background: #FFFFFF !important;
    --bullet-background-active: #FF9E01 !important;
}

ion-toolbar {
    padding: 0 14.5%;
    width: calc(100vw - 16px);
}