li {
    float: left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 19px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 12px 16px 12px 16px;
    text-decoration: none;
}

li div {
    display: block;
    color: black;
    text-align: center;
    min-width: 215px;
    min-height: 176.76px;
    width: 15.7vw;
    height: 13vw;
    margin: 0 5vw 0 0;
}

p {
    color: black;
    font-size: 12px;
    margin: 0;
    // font-family: ;
}

.firstCont {
    background-image: url("../../assets/firstBackground.png");
    background-repeat: no-repeat;
    background-size: 100vw;
    height: 45.7vw;
    position: relative;
}

.secondCont {
    height: 28.4vw;
    position: relative;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 100vw;
}

.finalCont {
    width: 100vw;
    position: relative;
    height: 40vw;
}

.finalCont img {
    width: 60px;
    position: absolute;
    top: -32px;
    overflow: visible;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.finalCont li div {
    position: relative;
    border: 1px solid #FF9E01;
    height: 110%;
    width: 19.7vw;
}

.banners {
    background-repeat: no-repeat;
    background-size: calc(100vw + 2px);
    height: 42.5vw;
    position: relative;
    margin: 0;
    border: 0;
    padding: 0;
}

.banners div {
    text-align: center;
    margin: 0;
    width: 25%;
    position: absolute;
    left: 14.5%;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.banners div ion-button {
    --border-radius: 50px;
    width: 170px;
    height: 42px;
    margin-top: 5%
}

.appearances {
    height: 29.3vw;
    position: relative;
    width: 100vw;
}

.appearanceCard {
    margin: 1.7% 0 0 7%;
    width: 85.6%;
    height: 15.5%;
}

.titulo {
    position: relative;
    margin: 2.5% 0 0 7%;
}

div.titulo p {
    padding-bottom: 8px;
    font-size: 28px;
    color: #6509B3;
}

div.titulo div {
    position: absolute;
    bottom: 0px;
    height: 5px;
    width: 83px;
    background-color: #FF9E01;
}

#container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

#container strong {
    font-size: 20px;
    line-height: 26px;
}

#container p {
    font-size: 16px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0;
}

#container a {
    text-decoration: none;
}