li div.bloco {
    display: block;
    color: black;
    text-align: center;
    min-width: 245px;
    min-height: 245px;
    width: 17vw;
    height: 17vw;
    margin: 0 5vw 0 0;
    background-repeat: no-repeat;
    padding: 80px 24px 0 24px;
}

.firstCont {
    background-image: url("../../assets/Backgrounds/firstBackground.png");
    background-repeat: no-repeat;
    background-size: 100vw;
    height: 51.5vw;
    position: relative;
    padding: 140px 14.5% 0 14.5%;
}

.secondCont {
    min-height: 304px;
    position: relative;
    // box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 100vw;
}

.appearances {
    height: 40vw;
    min-height: 450px;
    position: relative;
    width: 100vw;
    ion-slides {
        min-width: calc(900px + 8%);
        min-height: 400px;
    }
}

.appearanceCard {
    height: 30vw;
    align-items: flex-start;
    flex-direction: column;
    width: 22vw;
    min-width: 300px;
    min-height: 345px;
    button {
        background-color: transparent;
        border-radius: 40px;
        border: 3px solid #6509B3;
        color: #6509B3;
        width: 45%;
        height: 10%;
        min-height: 35px;
        font-size: 16px;
        font-weight: 700;
        margin: auto;
        margin-top: 10px;
    }
    ion-card {
        border-radius: 10px;
        width: 22vw;
        min-height: 300px;
        min-width: 300px;
        background-color: #FFFFFF;
        text-align: left;
        ion-card-header {
            clear: left;
            display: block;
            ion-card-subtitle {
                font-size: 14px;
                font-weight: 600;
                color: #A8A8A8;
            }
        }
        ion-card-content {
            padding-right: 30px;
            font-size: 16px;
            font-weight: 700;
        }
    }
    a {
        position: absolute;
        right: 18vw;
        bottom: 0;
        width: 170px;
        height: 42px;
        padding: 10px 16px 10px 16px;
    }
}

.appearanceButons {
    width: 100%;
    height: 100%;
    background-color: #686868;
    border-radius: 50%;
}

.depoimentos {
    margin-top: 110px;
    min-height: 450px;
    position: relative;
    width: 100%;
    ion-slides {
        margin-top: 26px;
        margin-bottom: 110px;
        width: 66%;
        min-width: calc(900px + 8%);
        min-height: 400;
    }
    ion-slide div {
        background-repeat: no-repeat;
        display: block;
        min-width: 290px;
        min-height: 475px;
        width: 21vw;
        height: 35vw;
        padding: 80px 24px 0 24px;
        text-align: left;
        span {
            text-align: center;
            h1 {
                font-size: 18px;
                font-weight: 700;
                margin-bottom: 5px;
            }
            h2 {
                margin-top: 0;
                color: #A8A8A8;
                font-size: 14px;
                font-weight: 600;
            }
        }
        p {
            margin-top: 20px;
            font-size: 12px;
            font-weight: 400;
        }
    }
}

#container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    strong {
        font-size: 20px;
        line-height: 26px;
    }
    p {
        font-size: 16px;
        line-height: 22px;
        color: #8c8c8c;
        margin: 0;
    }
    a {
        text-decoration: none;
    }
}

// .finalCont {
//     width: 100vw;
//     position: relative;
//     height: auto;
//     display: block;
//     img {
//         width: 60px;
//         position: absolute;
//         top: -32px;
//         overflow: visible;
//         margin-top: 0;
//         margin-left: auto;
//         margin-right: auto;
//         left: 0;
//         right: 0;
//     }
//     li div {
//         position: relative;
//         border: 1px solid #FF9E01;
//         height: 110%;
//         width: 19.7vw;
//     }
// }
// .TalkToUs {
//     height: 37vw;
//     width: 100vw;
//     div {
//         background-image: url("../../assets/Panels/TalkToUsPanel.png");
//         background-repeat: no-repeat;
//         background-size: contain;
//         min-width: 661.67px;
//         min-height: 364px;
//         height: 27.6vw;
//         width: 48.5vw;
//         margin: auto;
//         margin-top: 10%;
//         position: relative;
//     }
// }