li div.bloco {
    display: block;
    color: black;
    text-align: center;
    min-width: 245px;
    min-height: 245px;
    width: 17vw;
    height: 17vw;
    margin: 0 5vw 0 0;
    background-repeat: no-repeat;
    padding: 80px 24px 0 24px;
}

.firstCont {
    background-image: url("../../assets/Backgrounds/firstBackground.png");
    background-repeat: no-repeat;
    background-size: 100vw;
    height: 51.5vw;
    position: relative;
    padding: 140px 14.5% 0 14.5%;
}

.secondCont {
    min-height: 304px;
    position: relative;
    // box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 100vw;
}

.BannersSlider {
    ion-slide {
        align-items: center;
        justify-content: start;
    }
    ion-slide .bannerCard {
        background-image: url('../../assets/Panels/BannerPanel.png');
        background-repeat: no-repeat;
        background-size: contain;
        margin-left: 14%;
        width: 44.5%;
        height: 62.5%;
        .bannerTexts {
            position: relative;
            text-align: left;
            width: 72%;
            height: 72%;
            margin: 10% 14%;
            .titulo {
                text-align: left;
                width: 100%;
                div {
                    margin: 0;
                }
                p {
                    font-size: clamp(16px, calc(9px + 1vw), 24px);
                }
            }
            button {
                position: absolute;
                bottom: 1vw;
                right: 0;
                background-color: #6509B3;
                border-radius: 40px;
                border: 3px solid #6509B3;
                color: #FFFFFF;
                width: 40%;
                height: 15%;
                font-size: 16px;
                font-weight: 700;
                margin: auto;
                margin-top: 10px;
            }
        }
    }
}

.finalCont {
    width: 100vw;
    position: relative;
    height: auto;
    display: block;
}

.finalCont img {
    width: 60px;
    position: absolute;
    top: -32px;
    overflow: visible;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.finalCont li div {
    position: relative;
    border: 1px solid #FF9E01;
    height: 110%;
    width: 19.7vw;
}

.TalkToUs {
    height: 37vw;
    width: 100vw;
}

.TalkToUs div {
    background-image: url("../../assets/Panels/TalkToUsPanel.png");
    background-repeat: no-repeat;
    background-size: contain;
    min-width: 661.67px;
    min-height: 364px;
    height: 27.6vw;
    width: 48.5vw;
    margin: auto;
    margin-top: 10%;
    position: relative;
}

.appearances {
    height: 40vw;
    min-height: 450px;
    position: relative;
    width: 100vw;
    ion-slides {
        min-width: calc(900px + 8%);
        min-height: 400;
    }
}

.appearanceCard {
    height: 30vw;
    align-items: flex-start;
    flex-direction: column;
    width: 22vw;
    min-width: 300px;
    button {
        background-color: transparent;
        border-radius: 40px;
        border: 3px solid #6509B3;
        color: #6509B3;
        width: 45%;
        height: 10%;
        font-size: 16px;
        font-weight: 700;
        margin: auto;
        margin-top: 10px;
    }
    ion-card {
        width: 22vw;
        min-height: 300px;
        min-width: 300px;
        background-color: #FFFFFF;
        text-align: left;
        ion-card-header {
            clear: left;
            display: block;
            ion-card-subtitle {
                font-size: 14px;
                font-weight: 600;
                color: #A8A8A8;
            }
        }
        ion-card-content {
            padding-right: 30px;
            font-size: 16px;
            font-weight: 700;
            color: #333332;
        }
    }
}

.appearanceCard a {
    position: absolute;
    right: 18vw;
    bottom: 0;
    width: 170px;
    height: 42px;
    padding: 10px 16px 10px 16px;
}

.appearanceButons {
    width: 100%;
    height: 100%;
    background-color: #686868;
    border-radius: 50%;
}

.checked {
    background-color: #572c41 !important;
}

#container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

#container strong {
    font-size: 20px;
    line-height: 26px;
}

#container p {
    font-size: 16px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0;
}

#container a {
    text-decoration: none;
}