<ion-header id="SiteHeader" class="ion-no-border {{currentHeaderClass}}" [translucent]="true" style="position: absolute">
    <ion-toolbar>
        <button (click)="openHeader()"></button>
        <img src="../../assets/logo.png" class="logo">
        <ul style="float: right;">
            <li><a href="home">Início</a></li>
            <li><a href="#">A Cordel</a></li>
            <li><a href="#">Soluções</a></li>
            <li>
                <div style="width: 1px; height: 40px; background-color: #FFFFFF; margin: 0 1.5vw;"></div>
            </li>
            <li><a href="auth" class="roundedLink" style="margin-left: 16px;">Fale Conosco</a></li>
        </ul>
    </ion-toolbar>
    <div id="openedHeader">
        <p>Início
            <br>A Cordel
            <br>Soluções
            <br>Depoimentos
            <br>Se Liga! #Professor Atualizado
            <br>O Informado! #Professor Midiático
            <br>Level Up! #Professor Gamificado</p>
    </div>
</ion-header>

<ion-content id="appContent" (ionScrollStart)="changeHeader($event)" (ionScrollEnd)="normalizeHeader($event)" [scrollEvents]="true" [fullscreen]="true">
    <div class="firstCont">
        <p style="font-size: clam(20px, 2.5vw, 24px); padding-top: 11.7vw; display: inline-block; color: white;">
            Que tal utilizar jogos e experiências<br>gamificadas para expandir o processo<br>de ensino-aprendizagem em um modelo<br>educacional mais colaborativo?
        </p>
        <img src="../../assets/caraEstudando.png" style="position: absolute; right: 14.5vw; top: 140px; width: 35%">
    </div>
    <div class="secondCont">
        <div class="titulo">
            <p>
                <Strong>Sobre a Cordel</Strong>
            </p>
            <div></div>
        </div>
        <ul>
            <li>
                <div class="bloco" style="background-image: url('../../assets/Panels/Atuacao.png');">
                    <p style="margin: 0 0 15px 0; font-weight: 700;">Atuação</p>
                    <p style="font-size: 12px;">Trabalhamos com práticas e ferramentas - digitais ou analógicas - baseadas em jogos e gamificação; Além de workshops e cursos para a capacitação de educadores.</p>
                </div>
            </li>
            <li>
                <div class="bloco" style="background-image: url('../../assets/Panels/Origem.png');">
                    <p style="margin: 0 0 15px 0; font-weight: 700;">Origem</p>
                    <p style="font-size: 12px;">Fundada em Novembro de 2019, por um grupo de alunos no ensino médio, motivados pelo desejo de melhorar a educação, unindo-a com a tecnologia e os jogos.</p>
                </div>
            </li>
            <li>
                <div class="bloco" style="background-image: url('../../assets/Panels/Missao.png'); margin: 0;">
                    <p style="margin: 0 0 15px 0; font-weight: 700;">Missão</p>
                    <p style="font-size: 12px;"><br>Transformar os cenários de aprendizagem por meio da união da educação com a tecnologia.</p>
                </div>
            </li>
        </ul>
    </div>
    <div class="titulo">
        <p>
            <Strong>Aparições</Strong>
        </p>
        <div></div>
    </div>
    <div class="appearances">
        <ion-slides #slides pager="false" [options]="AppearencesSliderOptions" (ionSlidesDidLoad)="slidesDidLoad(slides)">
            <ion-slide *ngFor="let n of appearences; let i = index" class="appearanceCard">
                <ion-card>
                    <img [src]="appearenceImg[i]" style="float: left;">
                    <ion-card-header>
                        <ion-card-subtitle>{{appearenceFrom[i]}}</ion-card-subtitle>
                    </ion-card-header>
                    <ion-card-content>{{appearences[i]}}</ion-card-content>
                </ion-card>
                <button type="button"><a href="{{appearenceLink[i]}}" target="_blank">Ler Matéria</a></button>
            </ion-slide>
        </ion-slides>
    </div>
    <div class="degradeSmallCont" style="padding-top: 10vw; padding-bottom: 10vw">
        <p>Aprenda a planejar<br>e criar aulas mais<br>dinâmicas e engajadoras!</p>
    </div>
    <div style="margin: 8.2vw 0 32px 0;">
        <div class="titulo">
            <p>
                <Strong>Nossas Soluções</Strong>
            </p>
            <div></div>
        </div>
    </div>
    <ion-slides class="BannersSlider" pager="true" [options]="BannerSliderOptions">
        <ion-slide id="banner1" class="banners">
            <div class="bannerCard">
                <div class="bannerTexts">
                    <div class="titulo">
                        <p>
                            <Strong>O que você encontrará na trilha:</Strong>
                        </p>
                        <div></div>
                    </div>
                    <p>Em “Professor Atualizado”, as barreiras da mentalidade e uma cultura antiga serão desconstruídas para que uma aprendizagem efetiva e ferramentas possibilitem um aprendizado apoiado no ‘learning by doing’.</p>
                    <button><a href="se-liga">Saiba mais</a></button>
                </div>
            </div>
        </ion-slide>
        <ion-slide id="banner2" class="banners">
            <div class="bannerCard">
                <div class="bannerTexts">
                    <div class="titulo">
                        <p>
                            <Strong>O que você encontrará na trilha:</Strong>
                        </p>
                        <div></div>
                    </div>
                    <p>A trilha “Professor Midiático” abordará ferramentas que estão no dia a dia dos estudantes e que os professores podem incrementar em seu planejamento, para tornar o processo de ensino-aprendizagem mais divertido.</p>
                    <button><a href="informado">Saiba mais</a></button>
                </div>
            </div>
        </ion-slide>
        <ion-slide id="banner3" class="banners">
            <div class="bannerCard">
                <div class="bannerTexts">
                    <div class="titulo">
                        <p>
                            <Strong>O que você encontrará na trilha:</Strong>
                        </p>
                        <div></div>
                    </div>
                    <p>Em “Level Up! Professor Gamificado” o educador poderá se capacitar e aprender mais sobre gamificação como metodologia ativa para sala de aula.</p>
                    <button><a href="level-up">Saiba mais</a></button>
                </div>
            </div>
        </ion-slide>
    </ion-slides>
    <div class="ofertaCont">
        <div>
            <p>OFERTA POR TEMPO LIMITADO!</p>
            <p style="margin-top: 0.6%;">Restam: 27 dias</p>
        </div>
        <div class="offerTitle">
            <div>
                <p>Guia Professor<br>do ̶F̶u̶t̶u̶r̶o̶ Presente</p>
                <div>
                    <p>Três trilhas inéditos</p>
                </div>
            </div>
            <img src="../../assets/MockupCursos.png">
            <div style="clear: left"></div>
        </div>
        <div class="ofertaElements">
            <ul>
                <li>
                    <img src="../../assets/icon/ico2.png">
                    <div>
                        <p>Pagamentos seguros</p>
                    </div>
                </li>
                <li>
                    <img src="../../assets/icon/ico1.png">
                    <div>
                        <p>Certificado de conclusão digital</p>
                    </div>
                </li>
                <li>
                    <img src="../../assets/icon/ico3.png">
                    <div>
                        <p>Suporte da Cordel For Education</p>
                    </div>
                </li>
                <hr>
                <li>
                    <img src="../../assets/icon/ico4.png">
                    <div>
                        <p>Acesso de todos os dispositivos</p>
                    </div>
                </li>
                <li>
                    <img src="../../assets/icon/ico5.png">
                    <div>
                        <p>Demonstração de cases reais</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="ofertaDetails">
            <span>As TRÊS trilhas separados saem por: R$599,99</span>
            <h1>Esta oferta lhe garante todos as três trilhas por apenas: R$<strong>428,99</strong></h1>
            <p>ou em 64x de R$37,93</p>
            <button>Comprar agora</button>
        </div>
    </div>
    <div class="depoimentos">
        <div class="titulo">
            <p>
                <Strong>Depoimentos</Strong>
            </p>
            <div></div>
        </div>
        <ion-slides #slides pager="false" [options]="DepoimentosSliderOptions" (ionSlidesDidLoad)="slidesDidLoad(slides)">
            <ion-slide>
                <div style="background-image: url('../../assets/Panels/DepoiPanel.png');">
                    <span>
                        <h1>Marcos Primo</h1>
                        <h2>professor na UFPE</h2>
                    </span>
                    <p>Quando os alunos começam a participar do jogo, eles começam a competir divididos em grupos. Vou lançando demandas aleatórias e eles verificam os custos resultantes das decisões de produção e subcontratação. Vemos estilos agressivos,
                        conservadores e aspectos de liderança, às vezes o clima esquenta dentro de um grupo. Ao final, explico que têm estratégias boas e não tão boas, mas grande parte dos resultados vem da sorte. Ao final eles estão aliviados e se surpreendem
                        de ter passado 1hora e meia de aula e eles nem perceberam.</p>
                </div>
            </ion-slide>
            <ion-slide>
                <div style="background-image: url('../../assets/Panels/DepoiPanel.png');">
                    <span>
                        <h1>Marcos Primo</h1>
                        <h2>professor na UFPE</h2>
                    </span>
                    <p>Quando os alunos começam a participar do jogo, eles começam a competir divididos em grupos. Vou lançando demandas aleatórias e eles verificam os custos resultantes das decisões de produção e subcontratação. Vemos estilos agressivos,
                        conservadores e aspectos de liderança, às vezes o clima esquenta dentro de um grupo. Ao final, explico que têm estratégias boas e não tão boas, mas grande parte dos resultados vem da sorte. Ao final eles estão aliviados e se surpreendem
                        de ter passado 1hora e meia de aula e eles nem perceberam.</p>
                </div>
            </ion-slide>
            <ion-slide>
                <div style="background-image: url('../../assets/Panels/DepoiPanel.png');">
                    <span>
                        <h1>Marcos Primo</h1>
                        <h2>professor na UFPE</h2>
                    </span>
                    <p>Quando os alunos começam a participar do jogo, eles começam a competir divididos em grupos. Vou lançando demandas aleatórias e eles verificam os custos resultantes das decisões de produção e subcontratação. Vemos estilos agressivos,
                        conservadores e aspectos de liderança, às vezes o clima esquenta dentro de um grupo. Ao final, explico que têm estratégias boas e não tão boas, mas grande parte dos resultados vem da sorte. Ao final eles estão aliviados e se surpreendem
                        de ter passado 1hora e meia de aula e eles nem perceberam.</p>
                </div>
            </ion-slide>
        </ion-slides>
    </div>
    <!-- <div class="banners" style="background-image: url('../../assets/Backgrounds/banner\ hackids.png');">
        <div>
            <p style="color: white; font-size: 36px; margin-bottom: 5%"><strong>HacKids</strong></p>
            <p style="color: white; margin-bottom: 3%; font-size: 18px;">Aprenda a desenvolver o raciocínio lógico das crianças por meio de práticas de programação com o <strong>HacKids.</strong></p>
            <ion-button color="tertiary" href="hackids">Saiba mais</ion-button>
        </div>
    </div> -->
    <!-- <div class="finalCont">
        <div class="titulo">
            <p>
                <Strong>Depoimentos</Strong>
            </p>
            <div></div>
        </div>
        <ul style="margin-top: 48px; display: flex; justify-content: center; margin-bottom: 5%;">
            <li>
                <div class="bloco">
                    <img src="../../assets/icon/Ellipse.png">
                    <p style="margin: 40px 0 0 0;"><strong>Marcos Primo</strong></p>
                    <p style="font-size: 12px;">professor UFPE</p>
                    <p style="width: 90%; margin: auto; margin-top: 20px; text-align: justify; font-size: 12px;">Quando os alunos começam a participar do jogo, eles começam a competir divididos em grupos. Vou lançando demandas aleatórias e eles verificam os custos resultantes das decisões de produção e subcontratação. Vemos estilos agressivos,
                        conservadores e aspectos de liderança, às vezes o clima esquenta dentro de um grupo. Ao final, explico que têm estratégias boas e não tão boas, mas grande parte dos resultados vem da sorte. Ao final eles estão aliviados e se surpreendem
                        de ter passado 1hora e meia de aula e eles nem perceberam.</p>
                </div>
            </li>
            <li>
                <div class="bloco">
                    <img src="../../assets/icon/Ellipse.png">
                    <p style="margin: 40px 0 0 0;"><strong>Micheline Souza</strong></p>
                    <p style="font-size: 12px;">gestora de escola pública em Recife</p>
                    <p style="width: 90%; margin: auto; margin-top: 20px; text-align: justify; font-size: 12px;">Os adolescentes utilizam os jogos para se divertir, seria interessante mostrar a eles que também podem gerar uma aprendizagem pedagógica. E os professores podem utilizar esse recurso para que suas aulas fiquem mais criativas, interessantes
                        e antenadas com as novas tecnologias. E acredito ser uma maneira de despertar no jovem o interesse pelo conhecimento facilitando assim esse momento de aulas híbridas. Que é muito difícil.</p>
                </div>
            </li>
            <li>
                <div class="bloco" style="margin: 0;">
                    <img src="../../assets/icon/Ellipse.png">
                    <p style="margin: 40px 0 0 0;"><strong>Tatiane Magali</strong></p>
                    <p style="font-size: 12px;">professora de inglês em Recife</p>
                    <p style="width: 90%; margin: auto; margin-top: 20px; text-align: justify; font-size: 12px;">Seu projeto levando para o aluno interagindo o jogo com o aprendizado; conhecimento no qual despertou e muito a atenção do aluno e fez com que esse aluno tomasse o gosto pelo aprendizado. A curiosidade, desejo era muito pelos alunos
                        e a participação foi espetacular. Tempo de pandemia, aula online pensávamos que não daria certo, mas deu e muito produtivo! Se o problema de todos, ou seja, a escola era o celular, agora passa a ser um veículo para aprendizado
                        de forma correta com aplicativos e jogos da Cordel despertou o desejo de aprender com seu projeto! Orgulho de mais.</p>
                </div>
            </li>
        </ul>
    </div> -->
    <!-- <div class="TalkToUs">
        <div>
            <p style="color:#FF9E01; text-align: center; font-size: 28px; padding-top: 34px;">
                <Strong>Fale conosco</Strong>
            </p>
            <ion-input placeholder="Nome" style="background-color: blueviolet; border-radius: 10px; width: 60%; margin: auto; margin-top: 37px"></ion-input>
            <ion-input placeholder="E-mail" style="background-color: blueviolet; border-radius: 10px; width: 60%; margin: auto; margin-top: 37px"></ion-input>
            <ion-input placeholder="Assunto" style="background-color: blueviolet; border-radius: 10px; width: 60%; margin: auto; margin-top: 37px"></ion-input>
            <img src="../../assets/TalkToUsFundo.png" style="position: absolute; left: 2.15%; bottom: 4.7%; width: 54%">
        </div>
    </div> -->
    <div class="footer">
        <div>
            <h1>Sobre a Cordel</h1>
            <p>Depoimentos</p>
            <p>Aparições</p>
            <p>Blog</p>
            <p>Política de Privacidade </p>
            <p>Termos de Uso</p>
        </div>
        <div>
            <h1>Serviços</h1>
            <p>Nossos Cursos</p>
            <p>Se Liga! #ProfessorAtualizado</p>
            <p>Informado! #ProfessorMidiático</p>
            <p>LevelUp! #ProfessorGamificado</p>
        </div>
        <div>
            <h1>Contato:</h1>
            <span>
                <img src="../../assets/icon/Email.png" style="margin-right: 8px;">
                <h3 style="color: white">contato@somoscordel.com.br</h3>
            </span>
            <span>
                <img src="../../assets/icon/Numero.png" style="margin: 0 12px 0 3px;">
                <h3 style="color: white">+55 81 9 4002-8922</h3>
            </span>
            <span>
                <img src="../../assets/icon/Instagram.png" style="width: 24.78px; height: 24.78px;">
                <img src="../../assets/icon/Whatsapp.png" style="margin-left: 38px; width: 24.78px; height: 24.78px;">
                <img src="../../assets/icon/Facebook.png" style="margin-left: 38px; width: 24.78px; height: 24.78px;">
            </span>
            <img src="../../assets/logo.png" style="width: 90px; margin-top: 40px">
        </div>
        <div>
            <p>Receba atualizações</p>
            <input placeholder="E-mail">
        </div>
    </div>
</ion-content>