li {
    float: left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 19px;
    overflow: hidden;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 12px 16px 12px 16px;
    text-decoration: none;
}

li div {
    display: block;
    color: black;
    text-align: center;
    min-width: 215px;
    min-height: 176.76px;
    width: 15.7vw;
    height: 13vw;
    margin: 0 5vw 0 0;
}

p {
    color: black;
    font-size: 12px;
    margin: 0;
    // font-family: ;
}

.firstCont {
    background-image: url("../../assets/firstBackground.png");
    background-repeat: no-repeat;
    background-size: 100vw;
    height: 45.7vw;
    position: relative;
}

.secondCont {
    height: 28.4vw;
    position: relative;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 100vw;
}

.appearances {
    height: 29.3vw;
    position: relative;
    width: 100vw;
}

.appearanceCard {
    margin: 1.7% 0 0 7%;
    width: 85.6%;
    height: 15.5%;
}

.titulo { position: relative; margin: 2.5% 0 0 7%; }

div.titulo p { padding-bottom: 8px; font-size: 28px; color: #6509B3; }

div.titulo div { position: absolute; bottom: 0px; height: 5px; width: 83px ; background-color: #FF9E01; }

#container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

#container strong {
    font-size: 20px;
    line-height: 26px;
}

#container p {
    font-size: 16px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0;
}

#container a {
    text-decoration: none;
}