<ion-header class="ion-no-border" [translucent]="true">
    <ion-toolbar style="--background: #FF9E01; height: 80px;">
        <img src="../../assets/logo.png" style="height: 59px; margin-top: 10px; margin-left: 7vw; float: left;">
        <ul style="margin-left: 45vw">
            <li><a href="#">Sobre a Cordel</a></li>
            <li><a href="#">Produtos</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Fale conosco</a></li>
            <li><a href="#" style="background-color: #6509B3; border-radius: 50px; margin-left: 16px;">Área do aluno</a></li>
        </ul>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="--background: white;">
    <div class="firstCont">
        <p style="font-size: calc(25px + 1%); padding-left: 7%; padding-top: 13.5%; margin: 0; display: inline-block">
            Que tal utilizar jogos e experiências <br> gamificadas para expandir o processo <br> de ensino-aprendizagem em um <br> modelo educacional mais colaborativo?
        </p>
        <img src="../../assets/caraEstudando.png" style="position: absolute; left: 52%; top: 20vh; width: 40%">
    </div>
    <!-- <ion-header collapse="condense"><ion-toolbar><ion-title size="large">Blank</ion-title></ion-toolbar></ion-header>
    <div id="container"><strong>Ready to create an app?</strong><p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p></div> -->
</ion-content>