li {
  float: left;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 19px;
  overflow: hidden;
}

li a{
  display: block;
  color: white;
  text-align: center;
  padding: 12px 16px 12px 16px;
  text-decoration: none;
}

#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}